[2021-02-10 16:30] pranjalshikhar opened #4 "Color Detection and Segmentation"
Can implement a section of **Color Detection and Segmentation**, under which I can add my Harry Potter Invisibility Cloak Filter mini project.

[2021-02-10 18:08] Bhumika-Kothwal opened #5 "Edge-Detection"
I want to implement Edge Detection Algorithm. Can you please assign it to me?

[2021-02-16 06:22] kritikaparmar-programmer commented on #5
Hey, @Bhumika-Kothwal assigning Edge Detection Algorithm to you :)

[2021-02-16 06:24] kritikaparmar-programmer commented on #4
Hey, @pranjalshikhar you can work on this issue 👍. Assigning you.

[2021-02-16 07:02] pranjalshikhar commented on #4
**YEs, I am the participant of GSSOC'21**

[2021-02-16 14:44] Bhumika-Kothwal commented on #5
Yes, I am a participant of GSSOC'21.

[2021-02-16 18:05] byomkeshbaksie opened #8 "Face Detection"
I can update the Face Detection section, in which I can add my mini project were it mark attendance using Face Recognition.

[2021-02-17 17:36] HimanchalChandra opened #9 "Perspective Transformation"
I want to implement Perspective Transformation Algorithm. Can you please assign it to me?, I am a participant of GSSOC'21.

[2021-02-18 18:42] kritikaparmar-programmer commented on #8
Assigning the issue to you @byomkeshbaksie. Happy Coding :)
Do remember to make a pr when GSSOC'21 contribution period will start.

[2021-02-18 18:43] kritikaparmar-programmer commented on #9
Assigning the issue to you @HimanchalChandra . Happy Coding :)
Do remember to make a pr when GSSOC'21 contribution period will start.

[2021-02-19 07:19] byomkeshbaksie commented on #8
Thank you @kritikaparmar-programmer.

[2021-02-20 07:33] mehabhalodiya opened #10 "SIFT Algorithm"
The scale-invariant feature transform(SIFT) is a feature detection algorithm in computer vision to detect and describe local features in images.

Can you please assign it to me?
I am a participant of GSSoC'21.

[2021-02-20 17:59] kritikaparmar-programmer commented on #10
Assigned to you @mehabhalodiya. Do make sure to make the pr when contributing period for GSSOC'21 starts.
Happy Coding :)

[2021-02-23 05:52] nandinib1999 opened #11 "Facial Features Detection"
I would like to contribute to this project by adding a mini-project which detects facial features and applies funny masks like cartoon eyes or sunglasses or moustache in real-time based on the facial points detected. I am a GSSOC'21 participant.

[2021-02-23 11:30] kritikaparmar-programmer commented on #11
Hey, @nandinib1999 I'm assigning this issue to you. Do remember to make a pr when the contribution period for GSSOC'21 starts. Happy Coding :)

[2021-02-26 08:09] arpitmaheshwari213 opened #12 "I am a participant of GSSoC'21."

[2021-03-02 12:29] puranjay123 commented on #5
hey can you assign me this issue.

[2021-03-02 19:10] Bhavik-Ardeshna opened #13 "Image Resize"
Working on resize image

Any specific parameter need to be consider

[2021-03-03 12:58] akshitadixit opened #14 "Landmark Detection"
Hey I would like to add facial landmark detection using Open-CV and dlib

[2021-03-04 06:28] Aayush-hub opened #15 "Add Face-Recognition script"
Add Face-Recognition script using opencv, which consist a ML model which takes images as input to be trained and recognises the person whoes image was given, in a live stream.

[2021-03-04 06:30] Aayush-hub commented on #15
@geekquad @kritikaparmar-programmer Can I work on this issue under GSSoC21 label ?

[2021-03-05 04:33] kritikaparmar-programmer commented on #15
Assigning this issue to you @Aayush-hub. Happy Coding :)

[2021-03-05 04:35] kritikaparmar-programmer commented on #14
Assigned the issue to you @akshitadixit .

[2021-03-05 04:47] kritikaparmar-programmer commented on #12
Assigned @arpitmaheshwari213

[2021-03-05 20:06] sudipg4112001 opened #16 "Swap faces"
Would like to add face swapping feature. I am a participant of GSSOC'21

[2021-03-06 17:33] akshitadixit opened #19 "Add the follwing scripts"
- [ ] Brute Force Feature Matcher
- [ ] Depth Map
- [ ] Object Tracking
- [ ] Pose Estimation

Kindly assign the issue. I will be making PRs for the above 4 one by one so it is easier for maintainers to review.

[2021-03-07 12:04] SatYu26 opened #20 "Histogram Matching in images"
I wish to add Histogram matching program.

GSSoC'21

[2021-03-07 15:54] geekquad opened #22 "Simple Image Thresholding"
Implementation of Simple Image Thresholding using nothing but OpenCV.

[2021-03-07 16:46] arpitmaheshwari213 commented on #12
Thanks, @kritikaparmar-programmer for the opportunity, I have started to work on this issue.

[2021-03-08 05:17] psyduck1203 commented on #22
Hey, I'm a GSSoC`21 participant and want to contribute to this repo can you please assign me this issue?

[2021-03-08 06:12] geekquad commented on #22
Assigning you with the same.

[2021-03-08 06:13] geekquad commented on #19
Assigning you with the same.

[2021-03-08 07:06] Aayush-hub opened #24 "Add Github Action Welcome Bot"
Add Github action greeting bot which greets first time contributors with a welcome message and message to follow contributing guidelines.

[2021-03-08 07:07] Aayush-hub commented on #24
@geekquad @kritikaparmar-programmer Can I look into this issue?

[2021-03-08 10:38] aakriti1318 opened #25 "Change colour space"
Hey, GSSoC`21 participant.
I would like to work on this issue.

[2021-03-08 13:35] abh33 opened #26 "Perspective Transformation"
Would like to contribute code for perspective transformation. Please assign me this issue. I am a participant of Gssoc'21

[2021-03-08 13:42] aswarth123 opened #27 "I Would like to add the following algos (GSSOC 21)"
- [ ] HarrisCornerDetection
- [ ] Image_Cartoonification
- [ ] FourierTransformation
- [ ] HoughTransformation

Kindly assign this issue to me i would love to contribute as part of GSSOC 21 participant

[2021-03-08 13:59] Jaideep07 opened #28 "FlannFeatureMatcher"
Would like to contribute to this as a part of GSSOC21

[2021-03-08 14:19] sakshi2707 commented on #22
Hey, I'm a GSSoC`21 participant and want to contribute to this repo can you please assign me this issue? @geekquad

[2021-03-08 14:22] sakshi2707 commented on #5
Hey, I'm a GSSoC`21 participant and want to contribute to this . can you please assign me this issue?

[2021-03-08 14:51] pallavidhere23 commented on #22
Hello ,I am a GSSOC'2021 participant and love to fix this issue. please assign me the issue.

[2021-03-08 14:53] pallavidhere23 commented on #15
I am GSSOC'2021 Participant can I try to fix this issue.will you please assign me this issue.

[2021-03-08 14:54] pallavidhere23 commented on #8
I am a GSSOC'2021 participant can u please assign me this issue.

[2021-03-08 15:59] Aayush-hub commented on #15
@pallavidhere23 I have made PR and issue is solved. You can check out other issues.

[2021-03-08 18:28] Dhanush2612 commented on #25
Hi I am participant @GSSOC 21, can you assign me this issue?

[2021-03-08 18:29] srimontidutta commented on #13
Can I contribute to it? (GSSoC)

[2021-03-08 18:51] abh33 opened #29 "Affine Transformation"
I would like to work on the Affine transformation. Can you assign me this issue??

[2021-03-08 21:04] NitiKaur opened #30 "Face Analysis"
The FaceDetection folder in the repository dosen't have any information related to the topic.Please make this an issue and let me contribute to it so that I can make a detailed tutorial on the various face detectors

[2021-03-08 21:10] NitiKaur opened #31 "OCR Handwritten Alphabet - Text HTR"
please assign this issue to me. I want to create a Text OCR for the English handwritten objects using KNN and OpenCV and make a detailed documentation for the same

[2021-03-08 21:53] ikanani commented on #22
Hello, I am a GSSOC'21 participant and would love to work on this issue. Can you please assign me this?

[2021-03-08 21:54] ikanani commented on #8
Hello, I am GSSOC'21 participant and would love to figure this issue out. can you please assign me this issue? @kritikaparmar-programmer

[2021-03-09 03:21] gopichandpuli9 opened #32 "OCR Handwritten digit"
Could you please assign this issue.

[2021-03-09 03:49] harshsinha03 commented on #8
hello i looked into this and i am confident that i can write a program that marks attendance and saves it into a .txt file in python using openCV
please assign this to me and i am starting to work on it.
thank you

[2021-03-09 04:17] Ashishsingh619 commented on #5
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about this topic and want to apply my knowledge to practice, So can you  can you please assign me this issue?

[2021-03-09 04:23] Saptar001 opened #33 "Want to contribute in the Image Smoothing Repo"
Hi Saptarshee here,
I am a participant of GSSOC,21 and want to work and contribute in the Image Smoothing repo.
Could you please assign me the job so that I start working on it ?

[2021-03-09 04:55] rashmitha520 opened #34 "Generating Art"
I'm a GSSOC'21 participant and I would like to work on this issue .

[2021-03-09 05:08] nandinib1999 commented on #11
Can you please add the relevant tags on this issue?

[2021-03-09 05:44] NitiKaur commented on #32
I have already asked this issue to be assigned to me. pull request #31 . Please find some other issue! :)

[2021-03-09 05:45] NitiKaur commented on #22
Hello, I am a GSSOC'21 participant and would love to work on this issue. Can you please assign me this?

[2021-03-09 05:50] gopichandpuli9 commented on #32
Hey u have asked for handwritten alphabet. I've asked for handwritten digit.

[2021-03-09 06:57] Aayush-hub opened #35 "Add Github Labeler Action"
Add github action to auto add labels to issues.

[2021-03-09 06:57] Aayush-hub commented on #35
@geekquad @kritikaparmar-programmer Can I work on this?

[2021-03-09 07:43] somya51p opened #38 "Yawn Detector"
I wish to add a yawn detection algorithm to this repository.
Please assign me this issue under GSSoC'21.

[2021-03-09 07:53] Ashishsingh619 commented on #8
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about this topic and want to apply my knowledge to practice, So can you can you please assign me this issue?

[2021-03-09 08:30] #34 closed

[2021-03-09 08:35] geekquad commented on #33
Sure @Saptar001.
Do you want to work on all three?

[2021-03-09 08:47] Ashishsingh619 commented on #5
I can do canny edge Detection and Robert Edge Detection, I had a doubt should our code be for real time video or a simple image?

[2021-03-09 08:50] sakshi2707 commented on #5
I can do the Laplacian Operator Edge Detection @geekquad

[2021-03-09 09:05] AkanchhaBhadani opened #39 "BruteForceFeatureMatcher"
Would like to work on Brute Force Feature Matcher feature.
(I am GSSOC 2021 participant)

[2021-03-09 09:56] Saptar001 commented on #33
@geekquad
Currently I want to start working on the Gaussian Filtering, if I finish it and if time permits I would also love to proceed for the following two filtering.

[2021-03-09 10:27] zenithexpo opened #40 "Changing of Color Space"
I would like to add implementation of Changing the Color Space of an image (BGR to Gray and HSV).

[2021-03-09 10:54] zenithexpo commented on #40
Please assign me this issue under GSSoC'21.

[2021-03-09 12:26] NitiKaur opened #42 "ImageResize"
I am a GSSOC participant.Please assign this issue to me

[2021-03-09 13:47] SavneetKaur01 commented on #12
I would love to work on this issue. I am a GSSOC'21 participant and I would provide you with the best possible code in Python Language. Looking forward to contribute here.

[2021-03-09 15:53] pallavidhere23 commented on #42
I am a GSSOC'2021 participant.Please assign me this issue.

[2021-03-09 15:55] pallavidhere23 commented on #19
I am GSSOC'2021 participant can u please assign.

[2021-03-09 16:31] ricsin23 opened #44 "Multiple Object Tracking using OpenCV"
I am a participant of GSSOC'21 and wanted to contribute to this issue. Requesting admins to assign me this issue.

[2021-03-09 16:46] NitiKaur commented on #42
@pallavidhere23 already requested by me. Plz find some other issue! :)

[2021-03-09 17:46] riyalamba07 commented on #44
Hi, I am a GSsoc'21 participant. I would like to work on this issue. I would request the project maintainers to assign this issue to me.

[2021-03-09 17:51] riyalamba07 commented on #31
Hi, I am a participant in GSsoc'21 . I would like to use ML and open CV to solve this issue. I request the project maintainer to assign this issue to me.

[2021-03-09 17:56] riyalamba07 commented on #35
Hi, I am a GSsoc'21 participant . I request the project maintainer to assign this issue to me.

[2021-03-09 18:49] Dhanush2612 opened #45 "Face Recognition"
Hi I am a participant @ GSSOC 21. I would like to add face recognition module which can be used to detect and recognize particular face.
So, kindly assign me this issue.

[2021-03-09 18:49] Dhanush2612 commented on #45
Kindly assign me this issue

[2021-03-09 18:50] #45 closed

[2021-03-09 18:52] Dhanush2612 opened #46 "Face Recognition"
I would like to include a mini-project which can recognize and detect a particular face.
So, kindly assign me this issue

[2021-03-09 18:52] Dhanush2612 commented on #46
Kindly assign me this issue

[2021-03-09 19:17] NitiKaur commented on #31
@riyalamba07  I have already requested for this issue.Plz find some other issue! :)

[2021-03-10 03:23] Ashishsingh619 commented on #25
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about this topic and want to apply my knowledge to practice, So can you please assign me this issue

[2021-03-10 04:32] prithwirajmitra2001 opened #49 "OCR_HandwrittenDigits"
I am a GSSOC 21 participant and wish to work on this issue using OpenCV and KNN to build a basic OCR (Optical Character Recognition) application for hand-written Digits.

Please assign me to work on this issue @geekquad

[2021-03-10 11:34] Tushar-ml commented on #12
Can you assign me the PoseEstimation Feature?

[2021-03-10 11:37] Tushar-ml commented on #19
I am GSSOC'2021 Participant. Can you please assign me the Pose Estimation Feature.

[2021-03-10 12:02] Tushar-ml opened #52 "Pose Estimation"
There is no script in Pose Estimation.

[2021-03-10 12:03] Tushar-ml commented on #52
I am GSSOC'21 Participant. Can you assign me this issue?

[2021-03-10 12:05] Dhanush2612 opened #53 "Invisibility Cloak"
Python Program to perform invisibility cloak

[2021-03-10 12:07] Ashishsingh619 commented on #40
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about this topic and want to apply my knowledge to practice, So can you please assign me this issue

[2021-03-10 12:08] Ashishsingh619 commented on #26
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about this topic and want to apply my knowledge to practice, So can you please assign me this issue

[2021-03-10 12:08] Ashishsingh619 commented on #29
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about this topic and want to apply my knowledge to practice, So can you please assign me this issue

[2021-03-10 12:10] Ashishsingh619 commented on #27
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about this topic and want to apply my knowledge to practice, So can you please assign me this issue

[2021-03-10 12:15] mansi75 opened #55 "Adding adaptive thresholding notebook"
I am a GSSOC 2021 participant and I want to add adaptive thresholding notebook. Please kindly assign me this isue.

[2021-03-10 12:59] Ashishsingh619 opened #56 "Hough Transformation"
I want to implement all the hough transform methods like:
*Hough Line transformation
*Probabilistic Hough Line Transformation
*Hough Circle

To detect the lines and the circles in an Image.
This are my few implementation on the issue and working upon on it to make it more better:
For Hough circle:
<img width="462" alt="hough_circles" src="https://user-images.githubusercontent.com/62636670/11063222

[2021-03-10 12:59] mansi75 opened #57 "Simple Image Masking"
I am a GSSOC 2021 participant and I want to image masking notebook. Please kindly assign me this issue.

[2021-03-10 13:12] Ashishsingh619 commented on #5
@geekquad  I am Ashishsingh619 As you had said I had implemented canny edge Detection and Sobel Edge Detection part please see my pull request for the issue:
https://github.com/geekquad/Image-Processing-OpenCV/issues/5#issuecomment-793553723

[2021-03-10 13:20] Pavithra2206 commented on #19
hey @geekquad can u assign me 'onject tracking' as part of GSSOC'21

[2021-03-10 16:20] Avishake007 commented on #46
As a GSSOC'21 participant I would like to work on this issue

[2021-03-10 16:21] sherin527 opened #58 "ImagePyramiding"
Hello @geekquad and @kritikaparmar-programmer, I'm a GSSOC'21 participant and I want to contribute to this by adding an Image pyramiding script using OpenCV. Please assign this issue to me.

[2021-03-10 16:39] Ashishsingh619 opened #59 "Harris Corner Detection"
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about Harris Corner Detection and want to apply my knowledge to practice, So can you please assign me this issue.
@geekquad sir and @kritikaparmar-programmer ma'am.

[2021-03-10 17:01] Rupa-421 commented on #27
Hi!
I'm a gssoc 21 participant.I already worked on it and I am eager to contribute to this issue .Aiming to contribute a **CLEAN CODE** , **PERFECT README** and **ALL RESOURCES** associated with it.Can you please assign this to me?

[2021-03-10 22:10] aishwaryachand opened #62 "watermark on image using Open-Cv"
Hello @geekquad and @kritikaparmar-programmer, I'm a GSSOC'21 participant and I want to contribute to this repo by adding an open-cv watermark  image application. Please assign this issue to me.

[2021-03-11 02:46] Ashishsingh619 opened #63 "Image Blending"
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about Image blending and want to apply my knowledge to practice, So can you please assign me this issue.
@geekquad sir and @kritikaparmar-programmer ma'am.

[2021-03-11 08:53] Bhumika-Kothwal commented on #5
@geekquad I will work on Robert Edge Detection and Prewitt Edge Detection

[2021-03-11 08:57] Dhanush2612 commented on #53
Please assign me this issue

[2021-03-11 09:04] Dhanush2612 opened #65 "Writing in Air"
Writing with help of opencv

[2021-03-11 09:05] Dhanush2612 commented on #65
Kindly assign me this issue.

[2021-03-11 13:27] pshivesh8 opened #66 "Canny Edge Detection."
Hi, I'm a GSSoC`21 participant and want to contribute to this. I have good knowledge about openCV and want to apply my knowledge to practice, So can you please assign me this issue.

@geekquad , @kritikaparmar-programmer

[2021-03-11 14:06] khareyash05 opened #67 "Update contributing.md"
I would like to add contributing.md file . I will contribute by putting steps on how to clone a repo and install on local system ,how to make a branch and use git commands to push it to origin ,How to make a PR , how to update your forked repo as well as local repo as the changes are made to the upstream

I would like to work on this as a part of GSSOC'21

[2021-03-11 14:16] Sibasish-Padhy commented on #22
hello I am a GSSOC participant 2021 participant and love to fix the issue.please assign me the issue.

[2021-03-11 15:18] pallavidhere23 commented on #46
I can fix this issue .Please assign me this issue under GSSOC'2021.

[2021-03-11 15:29] rk05-lenavo commented on #53
Hey , I am participant in GSSOC'21.I'll be solving this using python.  Can you please assign this to me?

[2021-03-11 16:31] Ayush12062000 opened #68 "Face_Detection Using OpenCV"
Hello, I am Ayush Kesarwani, GSSoC`21 participant, and want to contribute to FACE DETECTION using OpenCV.

Kindly, assign this issue to me.
@geekquad @kritikaparmar-programmer

[2021-03-11 16:37] SavneetKaur01 opened #69 "Image Manipulation in Python (GSSOC'21)"
I am Savneet, Gssoc'21 Participant. I want to write code to crop, trim, rotate and manipulate images with Python. My python code would be clear and understandable with the necessary comments.

Please assign this issue to me.

[2021-03-11 17:13] dikshajoshi18 commented on #69
I am a GSSoC 21 participant. I can contribute to this issue with proper implementation and Documentation. Kindly assign this work to me
discord: diksha#6684
 @kritikaparmar-programmer @geekquad

[2021-03-11 19:51] lavanya243 opened #70 "Face detection"
Hey @geekquad  , I am Lavanya Narayanan, a GSSOC, 2021 participant.
I want to work on face detection issue.

I would like to request you to kindly assign me this problem.

[2021-03-12 05:09] Rupa-421 commented on #70
It's duplicate issue found.Already there in [issue](
https://github.com/geekquad/Image-Processing-OpenCV/issues/8). Please close it as soon as possible as it may lead to confusion.@geekquad @ImgBotApp @lavanya243 @Aanisha @kritikaparmar-programmer @unnati914

[2021-03-12 05:12] #70 closed

[2021-03-12 05:28] Rupa-421 commented on #68
It's duplicate issue found.Already there in [issue](https://github.com/geekquad/Image-Processing-OpenCV/issues/8). Please close it as soon as possible as it may lead to confusion.@geekquad @ImgBotApp@Ayush12062000 @Aanisha @kritikaparmar-programmer @unnati914

[2021-03-12 05:32] Rupa-421 opened #71 "Car license plate detection"
I want to add car license plate detection using haarcascades opencv.I promise to write a CLEAN CODE and PERFECT README and also provide all resources associated with it.Can you please assign this to me?@ImgBotApp @geekquad @unnati914 @kritikaparmar-programmer

[2021-03-12 06:57] geekquad commented on #68
Thankyou for bringing it to my notice.
Hey @Ayush12062000, this has already been assigned to someone.  Please lookout for something else. Thankyou.

[2021-03-12 06:57] #68 closed

[2021-03-12 07:07] ishvik commented on #69
I'm Simran (GSSoC'21 participant). I want to work on this issue with neat code and doc strings. I have also contributed in two libraries in python (freshlybuiltimagebol and freshlybuiltimagejaano) with image processing work.
Please assign this issue to me to solve.

[2021-03-12 11:08] SavneetKaur01 commented on #69
I want to request the Project admin to assign me the issue that I have opened. I really want to contribute to this as I know image processing very well.
Thanks.

[2021-03-12 11:59] rohank2502 opened #72 "Contributors Automated !!"
I will like to add a feature which will update the contributor of the projects automatically !!

[2021-03-12 15:06] nandinib1999 commented on #11
In which folder should this project be added?

[2021-03-12 16:57] Harikrishnaa3131 commented on #71
Can u assign this to me pl? I am a gssoc'21 participant

[2021-03-12 17:26] Ayush12062000 opened #73 "Watershed Algorithm."
Hello, I am Ayush Kesarwani, GSSoC`21 participant, and want to contribute to the Implementation of Image Segmentation with Watershed Algorithm.

Kindly, assign this issue to me.
@geekquad @kritikaparmar-programmer

[2021-03-12 17:27] Jainish-shah commented on #71
Can I work on the project as I have worked on the project a week ago , so I know the difficulty and I can add the necessary explanation in comments for better understanding...
Can the Project Admin or Mentors please assign it to me

[2021-03-12 17:29] Hamza3226 commented on #69
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:29] Hamza3226 commented on #71
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:30] Hamza3226 commented on #46
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:35] Rupa-421 commented on #71
@Jainish-shah @Harikrishnaa3131 you can choose other issues as this issue is created by me and I wanna work on it

[2021-03-12 17:40] Shashi2001 commented on #12
Will u please assign me this issue I'm an gssoc'21 participant

[2021-03-13 05:36] iaditichine commented on #46
Hello,I am a GSSOC'21 participant and i would like to contribute readme file for face recognition.

[2021-03-13 05:45] iaditichine commented on #46
Hello,I am a GSSOC'21 participant and i would like to contribute code for face detection in images using Opencv. Please assign it to me.

[2021-03-13 07:24] aditisneh commented on #66
Hey, I want to work on this issue , if more people are needed, include me in. :) @geekquad @kritikaparmar-programmer

[2021-03-13 07:27] aditisneh commented on #53
@geekquad have recently worked on this project. If more people are needed , assign this to me anytime.

[2021-03-13 07:46] soumyavemuri opened #76 "Contour Detection"
Hello, I am a GSSoC '21 participant. I would like to work on adding Contour Detection to this repository

# Description
Contour Detection is a useful technique in Object Detection and Recognition, and shape analysis. With Contour Detection we are able to detect the various shapes and their sizes, present in the Image.

I would like to add a basic, understandable implementation for this feature.

[2021-03-13 07:51] soumyavemuri opened #77 "Concatenate Images"
Hello, I am a GSSoC '21 participant. I would like to work on adding the [ConcatenateImages](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/ConcatenateImages) directory.

# Description
I would like to develop the code to concatenate Images Horizontally and Vertically using OpenCV, and add a readme.md file to assist in understanding it.

[2021-03-13 14:57] Simar05519 commented on #30
I want to work on this issue. Please assign to me.

[2021-03-13 15:37] Simar05519 commented on #67
I want to work on this issue. Please assign to me.

[2021-03-13 15:51] khareyash05 commented on #67
@Simar05519 I am a participant and I have opened the issue for myself
Sorry!

[2021-03-13 16:58] prathimacode-hub commented on #13
Hey, I'm a GSSOC21 participant. I would like to work on this issue. Can you assign it to me?

[2021-03-13 17:02] prathimacode-hub commented on #5
Hey, I'm a GSSOC21 participant. I would like to work on this issue. Can you assign it to me?

[2021-03-13 17:03] prathimacode-hub commented on #76
Hey, I'm a GSSOC21 participant. I would like to work on this issue. Can you assign it to me?

[2021-03-13 17:11] jeelnathani opened #78 "Nose detection, eye detection"
Hello, I am GSSOC '21 participant. Just like face detection, I would like implement nose and eye detection using opencv

[2021-03-14 04:21] akshitadixit commented on #14
@kritikaparmar-programmer kindly add the GSSOC 21 label

[2021-03-14 04:24] akshitadixit commented on #19
@geekquad kindly merge the previous PR so I am able to make a new one

[2021-03-15 14:33] geekquad commented on #11
Hey @nandinib1999,
Please create a folder for the same. The structure should look like this:

[2021-03-15 14:45] geekquad commented on #13
A basic different geometric transformation to images like translation, rotation.
Assigning it to you @Bhavik-Ardeshna.

[2021-03-15 14:48] geekquad commented on #16
Assigning it to you @sudipg4112001.

[2021-03-15 14:50] geekquad commented on #19
Hey @akshitadixit, it will be reviewed. You can make a new branch for the other PR.

[2021-03-15 14:53] geekquad commented on #20
Assigning you with the same. Please read the Contributing Guidelines.

[2021-03-15 15:12] akshitadixit commented on #19
okay sure

[2021-03-15 15:18] SatYu26 commented on #20
yes sure, will make it today itself.

[2021-03-15 17:14] Rupa-421 opened #86 "Shape detection"
I want to add shape detection using opencv and imutils library.Can you please assign me this task?@geekquad

[2021-03-16 06:45] geekquad commented on #24
Sure @Aayush-hub. Go ahead!

[2021-03-16 06:47] geekquad commented on #25
Assigning Change colour space BGR ↔ Gray to @aakriti1318.
Assigning Change colour space BGR ↔ HSV to @Dhanush2612.

[2021-03-16 06:49] geekquad commented on #26
Assigning Perspective Transformation to @abh33.

[2021-03-16 06:52] geekquad commented on #27
Assigning HarrisCornerDetection and ImageCartoonification to @aswarth123.
Assigning FourierTransformation to @Ashishsingh619.
Assigning HoughTransformation to @Rupa-421.

Please make separate PRs for each issue.

[2021-03-16 06:58] geekquad commented on #29
Assigning it to @abh33.

[2021-03-16 07:00] geekquad commented on #30
Hey @kritikaparmar-programmer, can you please look into it?
Thankyou.

[2021-03-16 07:01] geekquad commented on #31
Assigning it to you @NitiKaur.

[2021-03-16 07:02] geekquad commented on #32
Assigning OCR Handwritten digit to @gopichandpuli9.

[2021-03-16 07:03] geekquad commented on #33
Awesome. Assigning Gaussian Filtering to you @Saptar001.

[2021-03-16 07:05] geekquad commented on #35
Hey @Aayush-hub and @riyalamba07, will get back to you on this super soon.

[2021-03-16 07:06] geekquad commented on #38
Sure. Make it for static images and not for real-time videos. Thankyou.

[2021-03-16 07:07] geekquad commented on #39
Assigning you with the same @AkanchhaBhadani.

[2021-03-16 07:11] geekquad commented on #40
Hey @zenithexpo. It has already been assigned to someone.
Please look out for other issues you can contribute to. Will be opening more soon.
Thankyou.

[2021-03-16 07:11] #40 closed

[2021-03-16 07:40] Dhanush2612 opened #87 "Invisibility Cloak"
Perform Invisibility Cloak designed using python and opencv.

[2021-03-16 07:41] Dhanush2612 commented on #87
@geekquad kindly assign me this issue.

[2021-03-16 07:51] geekquad commented on #42
Hey @NitiKaur, this issue has already been assigned to someone earlier. Please lookout for more issues. Will be opening more soon. Thankyou.

[2021-03-16 07:51] #42 closed

[2021-03-16 07:51] geekquad commented on #44
Assigning you with the same @ricsin23.

[2021-03-16 07:51] Dhanush2612 commented on #25
@geekquad I have completed my part and done with PR #88.

[2021-03-16 13:03] Aayush-hub commented on #24
@geekquad @kritikaparmar-programmer Waiting for my #23  [PR](https://github.com/geekquad/Image-Processing-OpenCV/pull/23) to be merged. Will make a PR soon after that solving this issue!

[2021-03-16 14:55] #5 closed

[2021-03-16 15:29] i-akshat-jain commented on #87
@geekquad I have a bit of hands on this part kindly assign me this issue

[2021-03-16 15:34] i-akshat-jain commented on #87
@geekquad we have to mask it with RGB only right?

[2021-03-16 15:38] i-akshat-jain commented on #13
Hey, I am a GSSOC21 participant and do have a basic knowledge in this field please assign this to me.

[2021-03-16 16:24] srimontidutta opened #91 "Hole Detection"
I would like to work on hole detection in T-shirts using OpenCV.
Please assign it to me for GSSoC21.

[2021-03-16 16:26] i-akshat-jain commented on #15
@Aayush-hub I have a bit of knowledge in this and want to learn more in the same, i can try fixing this issue. (GSSOC21)

[2021-03-16 16:31] i-akshat-jain commented on #66
Hey, I would like to work and learn more about this, can you please assign this issue to me. (GSSOC21) @geekquad

[2021-03-16 16:40] khareyash05 commented on #67
@unnati914 Pls add a GSSOc label and a level label to the same

[2021-03-16 16:53] khareyash05 commented on #67
@unnati914 Thanx
Can i update in existing contributing.md or shall i create a new file namely github-guidelines?

[2021-03-16 16:58] khareyash05 commented on #67
@unnati914 Attached a PR Have a look!

[2021-03-16 18:19] aditisneh commented on #87
Hey @unnati914, have you seen that Invisibility Cloak issue #53  was opened 6 days ago, and there are 3 people already in the queue.

[2021-03-16 20:15] geekquad commented on #49
Assigning you with the same @prithwirajmitra2001.

[2021-03-16 20:16] geekquad commented on #52
Assigning you with the same @Tushar-ml.

[2021-03-16 20:18] geekquad commented on #53
Hey @Dhanush2612, which image processing technique will you be using here?

[2021-03-16 20:20] Dhanush2612 commented on #53
Color detection and segmentation

[2021-03-16 20:29] geekquad commented on #53
Okay. Please make a folder for the same. The directory structure should look like this:

Please focus on implementing the concept rather than its application.

[2021-03-16 20:31] geekquad commented on #87
Hey @Dhanush2612, @i-akshat-jain @aditisneh, it has already been assigned. Please check it here #53.
If the participant fails to submit the PR in the specified duration, it will be automatically transferred to the next participant. Thankyou.

[2021-03-16 20:31] #87 closed

[2021-03-16 20:39] geekquad commented on #55
Assigning you with the same @mansi75.

[2021-03-16 21:33] geekquad commented on #56
Hey @Ashishsingh619, Hough Line transformation is already assigned to someone.
However, you can move ahead with
*Probabilistic Hough Line Transformation
*Hough Circle
Happy Coding :)

[2021-03-16 21:36] geekquad commented on #57
Assigning you with the same @mansi75.

[2021-03-16 21:38] geekquad commented on #58
Assigning you with the same @sherin527.

[2021-03-16 21:39] anubhav201241 opened #94 "Face_Detecion"
**Adding Code to the file**
In Face-Detection folder there is only readme file I want to contribute the code file in it by using python(open-cv)
I want to work upon this submit the code.

Kindly Assigned this part to me :)
I can update the code in more optimized and some features in it

@kritikaparmar-programmer Kindly assign this task to me as a label of GSSOC'21
Thank you :)

[2021-03-16 22:35] geekquad commented on #59
Hey @Ashishsingh619, this issue has already been assigned to someone. Please check #27.

[2021-03-16 22:35] #59 closed

[2021-03-16 22:38] geekquad commented on #67
Hey @khareyash05, isn't it already documented in the project's README?

[2021-03-16 22:41] geekquad commented on #62
Hey @aishwaryachand, which image processing technique will you be using here?

[2021-03-16 22:42] geekquad commented on #63
Assigning you with the same @Ashishsingh619.

[2021-03-16 22:44] geekquad commented on #65
Hey @Dhanush2612, which Image Processing technique will you be using here?

[2021-03-16 22:45] geekquad commented on #66
Hey @pshivesh8, this issue has already been assigned to someone. Please check #5.

[2021-03-16 22:45] #66 closed

[2021-03-16 22:47] geekquad commented on #69
Assigning you with the same @SavneetKaur01.
Please create a folder for the same. The directory of the folder should look like this:

[2021-03-16 22:48] geekquad commented on #71
Hey @Rupa-421, which Image Processing technique will you be using here?

[2021-03-16 22:49] geekquad commented on #72
Hey @rohank2502, please lookout for any other issues you can contribute to.
Right now there is no need to add this feature. Thankyou.

[2021-03-16 22:49] #72 closed

[2021-03-16 22:50] geekquad commented on #73
Assigning you with the same @Ayush12062000.

[2021-03-16 22:51] geekquad commented on #76
Assigning you with the same @soumyavemuri.
Please create a folder. The directory of the folder should look like this:

[2021-03-16 22:53] geekquad commented on #77
Hey @soumyavemuri, it has been already assiged to someone. Please check #12.

[2021-03-16 22:53] #77 closed

[2021-03-16 22:53] geekquad commented on #78
Hey @jeelnathani, isn't it a part of face detection?

[2021-03-16 22:54] geekquad commented on #86
Hey @Rupa-421, which Image Processing technique will you be using here?

[2021-03-16 22:54] geekquad commented on #91
Hey @srimontidutta, which Image Processing technique will you be using here?

[2021-03-16 22:57] geekquad commented on #24
Hey @Aayush-hub, you can make a new branch for the same and continue your work.

[2021-03-16 22:59] geekquad commented on #94
Hey @anubhav201241, it has already been assigned to someone else. Please check #8.

[2021-03-16 22:59] #94 closed

[2021-03-16 23:53] Rupa-421 commented on #86
Hi @geekquad ,I will use Ramer-Douglas-Peucker algorithm via method cv2.approxPolyDP.

[2021-03-17 00:02] Rupa-421 commented on #71
Hi @geekquad ,I want to use haarcascades to detect license plate.

[2021-03-17 01:04] khareyash05 commented on #67
@geekquad The README file contains only the steps to create a PR I am adding the following -
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
with proper steps

[2021-03-17 04:29] mansi75 commented on #55
@geekquad PR generated, kindly, accept it.

[2021-03-17 05:53] geekquad commented on #86
Sure @Rupa-421. Go ahead.
Focus more on the implementation of the algorithm rather than its application.

[2021-03-17 05:56] geekquad commented on #71
Hey @Rupa-421, go ahead. Focus more on the implementation of technique rather than its application because we are looking for Image Processing techniques and not the collection of projects.

[2021-03-17 05:57] geekquad commented on #67
@khareyash05 will look into it.

[2021-03-17 05:58] geekquad commented on #55
@mansi75 it will be reviewed.

[2021-03-17 06:04] SatYu26 commented on #20
@geekquad Please review my pull request.

[2021-03-17 06:04] geekquad opened #96 "Template Matching"
Implementation of Template Matching techniques for:

- [ ] Single Objects

- [ ] Multiple Objects

[2021-03-17 06:04] geekquad opened #97 "SURF Algorithm"
A minimal implementation of SURF (Speeded-Up Robust Features) algorithm.

[2021-03-17 06:23] geekquad commented on #20
It will be reviewed. Please be patient. Thankyou.

[2021-03-17 06:41] jeelnathani commented on #78
@geekquad yes. for nose and eye detection, first we have to detect face. when I was doing these detections, detecting eye was easy but it was hard to find xml file for nose detection (most of the file posses error). so, I would like to contribute here

[2021-03-17 07:13] Aayush-hub commented on #24
@geekquad Done :)

[2021-03-17 07:25] Tushar-ml commented on #52
PR Generated #64

[2021-03-17 07:58] sanyadeveloper2000 commented on #28
Hey, I would like to contribute to this issue. Pls let me know the details.
Thank you

[2021-03-17 08:05] sanyadeveloper2000 commented on #91
Hey I would like to contribute to this issue. Considering holes are circular, they could be detected using openCV

[2021-03-17 08:12] Dhanush2612 commented on #53
@geekquad I have completed the PR regarding this issue.

[2021-03-17 08:21] Dhanush2612 commented on #65
@geekquad
Track your hand's movement, using which a user can draw on the screen by moving his finger around.

[2021-03-17 08:22] Riddhima-jain commented on #96
Hello sir, I'd like to try and solve this issue for single objects first. Could you please assign this to me?

[2021-03-17 08:23] rk05-lenavo commented on #63
I'm the participant in this issue please assign me this issue.

[2021-03-17 08:49] srimontidutta commented on #91
@geekquad Greyscaling and contour detection

[2021-03-17 08:51] raj-gupta1 commented on #8
I have resolved this issue

[2021-03-17 09:35] geekquad commented on #96
Assigning you with the same @Riddhima-jain.

[2021-03-17 09:40] geekquad commented on #78
Hey @jeelnathani, would like to let you know that we are majorly focusing on Image Processing techniques here. As far as I know, this is majorly an application-based method.
However, you can still go ahead with this. Focus more on the implementation of the core concept rather than its application. Make a PR and we will see.

[2021-03-17 09:49] geekquad commented on #65
Hey @Dhanush2612, tracking my hand's movement isn't a technique I suppose.
Just a reminder that this is repo is focused on having an implementation of various Image Processing techniques and not a collection of projects using OpenCV.
Please make an issue again if you think I am missing out on something and we will get back to you.

[2021-03-17 09:49] #65 closed

[2021-03-17 09:51] ELITA04 commented on #97
Hi,
I am a GSSOC'21 participant, can I work on this issue?
Thank you.

[2021-03-18 05:45] iaditichine opened #105 "Text Recognition in Images"
Hello,I am a GSSOC'21 participant and i would like to contribute code for text detection in images using Opencv and pytesseract . Please assign it to me.

[2021-03-18 08:38] aayushi1908 commented on #105
Hello. I'm Aayushi, a GSSOC'21 participant. I'm eager to work on this issue as I've already worked on a project similar to this.
Kindly assign this issue to me.

[2021-03-18 08:47] aayushi1908 commented on #30
Hello @kritikaparmar-programmer @unnati914 . I'm Aayushi, a GSSOC'21 participant. I'm eager to work on this issue as I've already worked on a project similar to this.
Kindly assign it to me.

[2021-03-18 08:49] aayushi1908 commented on #15
Hello. I'm Aayushi, a GSSOC'21 participant. I'm eager to work on this issue as I've already worked on a project similar to this.

In this, I've used Transfer Learning for Face Recognition--
https://aayushibahukhandi.blogspot.com/2020/06/face-recognition-by-transfer-learning.html
https://github.com/aayushi1908/Face-Recognition-by-TRANSFER-LEARNING.git

Please have a look on the above links.
Kindly

[2021-03-18 18:08] srimontidutta commented on #91
@geekquad Please look into this issue.

[2021-03-18 18:58] anubhav201241 commented on #94
Hi, Sir

**Problem in the code:**

The code is not fully optimized and have less feature in it.

**What I want to add in it**
So I want to add more feature and optimized python code in it
Feature I will be working upon is:
1) Detects the Mid part in face.
2) Detects the eyes and face both Putting them in rectangle frame.
3) Which Detects the Eye and Face both part and also Detects the mid part of

[2021-03-18 18:59] geekquad commented on #105
Hey @iaditichine, which image processing technique will you be using here?
Also, please read the contributing guidelines, only the OpenCV library is allowed.

[2021-03-18 19:00] geekquad commented on #91
Assigning you with the same @srimontidutta.

[2021-03-18 19:08] anubhav201241 commented on #94
Hi, Sir I can add the following feature in it

**I want to Add the code in Face_Detection file as it remains blank**

Sir as You already assigned this code to someone else but I can assure you that I can work upon it since last 4-5 days and I'm confident that I can add some value, so sir can you please look into it and kindly assign this to me as it's remains blank for few days so I want contribut

[2021-03-18 21:11] undetectablevirus opened #107 "Cartoonifying an Image using OpenCV"
We will use OpenCV to get the cartoonised version of an image by applying filters.

[2021-03-18 21:19] undetectablevirus opened #108 "Text Recognition With Real Time Image Capturing"
We will capture the image in real time using Webcam and recognize the text from that image using OCR.

[2021-03-19 05:12] srimontidutta commented on #91
Thanks!

[2021-03-19 07:50] aakriti1318 commented on #25
@geekquad I have completed my part as well BGR2GRAY #89. Review this.

[2021-03-19 15:05] khareyash05 commented on #67
@geekquad is my PR ready to merge?

[2021-03-19 15:42] raj-gupta1 commented on #46
I have resolved this issue in my PR. Please, take a look at my PR.

[2021-03-19 15:56] Dhanush2612 commented on #46
@unnati914
I have completed my PR regarding this issue.
PR110

[2021-03-19 15:57] raj-gupta1 commented on #105
Hello, I'm Raj Gupta and I want to work on this issue using the Deep learning model of OpenCV i.e East text detector. I have done this project earlier using Tesseract but we can't use it this time. Kindly handle this issue to me. i have also made PR's in face-recognization and edge detection.

[2021-03-19 16:22] iaditichine commented on #105
@geekquad I'll be using Opencv library only for solving this issue and not Pytesseract. Please assign this issue to me.

[2021-03-19 20:09] geekquad commented on #108
Hey @undetectablevirus, how exactly are you planning to do so?

[2021-03-20 04:02] raj-gupta1 commented on #46
@unnati914 I have resolved this issue with proper documentation. Please, take a lot at that PR #95. I have used the Histogram Of oriented Gradients method for package face-recognization and OpenCV.

[2021-03-20 05:13] sal-glitch commented on #107
Hey I would like to work on this issue too. I am familiar with openCV and am a GSSoC participant

[2021-03-20 11:34] aditi1403 opened #113 "Update README.md file"
I have made some grammatical edits to the REDAME.md file. Kindly refer to PR #109.

[2021-03-20 12:10] bhubesh757 opened #114 "Build AI Car & Pedestrian Tracking with Python"

[2021-03-20 12:16] raj-gupta1 commented on #114
Please give this issue to me. I want to work on it. I have already made 2 PR's but all you do is assigning the issue to others. I am very disappointed by this method. Even I tried to ask for the issue but you didn't respond.

[2021-03-20 12:19] raj-gupta1 commented on #108
Give this issue to me. I will use OpenCV and tesseract library using OpenCV East DL model.

[2021-03-20 14:49] anandhu-eng commented on #107
Hello, I am a gssoc participant and a python enthusiast. Would be very happy to work on this project. Please do assign it to me:)

[2021-03-20 21:10] undetectablevirus commented on #108
@geekquad I will capture the image in real time using WebCam and then will be using OCR and tesseract library to read the text.

[2021-03-20 21:11] undetectablevirus commented on #107
@geekquad Kindly assign this to me.

[2021-03-21 04:50] anandhu-eng commented on #62
is the watermark based on text or an image @geekquad ?

[2021-03-21 08:35] SatYu26 commented on #20
ok sure.

[2021-03-21 15:53] KKhushhalR2405 opened #116 "I would like to contribute Holistically-Nested Edge Detection"
I would like to contribute Holistically-Nested Edge Detection

[2021-03-22 06:29] aakriti1318 opened #118 "Gender Detection"
Hey, GSSOC'21 Participant.
I would like to build a script for gender detection. Please assign  me this.

[2021-03-22 07:55] raj-gupta1 commented on #118
Please, assign this issue to me. I will use CNN with OpenCV, NumPy, and pafy library. Accuracy will be high.

[2021-03-22 12:53] SavneetKaur01 commented on #69
@geekquad What should be there in READEM.md?

[2021-03-22 20:03] vaishnavipatil29 opened #119 "Implementation of Canny and Sobel Edge Detection Technique"
Hello! I am a GSSOC'21 participant and I would like to implement the Canny and Sobel Edge Detection Technique from scratch. Please assign me the issue.

[2021-03-23 09:26] moyantri commented on #62
I think it's watermark based on image.

[2021-03-23 09:28] moyantri opened #120 "Watermark image using opencv"

[2021-03-24 03:46] khareyash05 commented on #67
@geekquad

[2021-03-24 04:15] anandhu-eng commented on #62
okay can i work on it @moyantri

[2021-03-24 08:36] #113 closed

[2021-03-24 11:20] surbhi2408 opened #121 "Color Detection using OpenCV"
I am a GSSoC'21 Participant and will be doing this using python language. I want to contribute to this issue. Requesting admins to assign me this issue.

[2021-03-24 19:02] undetectablevirus commented on #108
@geekquad What's the update on this issue?

[2021-03-25 19:28] dsrao711 commented on #121
I am a GSSOC '21 Participant and I would like to work on this Issue, Please consider my request

[2021-03-25 19:33] dsrao711 commented on #105
@geekquad I am a GSSOC participant. I can work on this issue using Pytesseract and Open Cv .  I can also update the README file with proper description on  Pytesseract and how it can be used with Open CV

[2021-03-25 19:40] dsrao711 commented on #107
@geekquad  , I would really like to work on this issue . Also , I can update the readme file with a proper description of the code
Please assign this to me as a GSSOC Participant

[2021-03-25 19:56] dsrao711 opened #126 "Erosion and Dilation"
## Erosion and Dilation

-Erosion  is useful for removing small white noises and Dilation .In cases like noise removal, erosion is followed by dilation. Because, erosion removes white noises, but it also shrinks our object. So we dilate it. Since noise is gone, they won’t come back, but our object area increases.
- Please check the image 1 and 2
<img width="922" alt="erosiondiala" src="https://use

[2021-03-26 11:32] shivangi-pandey opened #127 "Median Filtering"
Hello, I want to work on Median filtering in Image Soothing. Please assign me.

[2021-03-26 15:57] i-akshat-jain commented on #114
Hey, @bhubesh757 @geekquad , I have made this project and have a bit experience in this. Please allow me to contribute to this issue by assigning this issue. Thank You. (GSSOC21 Participant)

[2021-03-26 15:59] YMMSSH commented on #96
Hi, I'm Gssoc21's participant and I want  to try on this issue . Could you please assign this to me?
@geekquad

[2021-03-26 16:00] YMMSSH commented on #91
Hi, I'm Gssoc21's participant and I want to try on this issue . Could you please assign this to me?
@geekquad

[2021-03-26 20:32] YMMSSH commented on #58
@geekquad Hi, I'm Gssoc21's participant and I want to try on this issue . Could you please assign this to me?

[2021-03-27 17:52] #24 closed

[2021-03-27 18:04] geekquad commented on #126
Sure @dsrao711, go ahead!
Please make a folder for the same. Thankyou.

[2021-03-27 19:57] sayan9112 opened #128 "<GSSoC'21>Colour to B n' W"
Hi, Sayan here. I'm a GSSoC'21 participant.
I found this project insightful and want to contribute in this project.
This feature is about to turning a image black and white and back.

Please assign me in this issue.

[2021-03-28 11:41] walaa5 opened #129 "Gaussian Filtering"
Hello, I'm GSSOC'21 participant, I would like to work on Gaussian Filtering in image smoothing, please assign it to me.

[2021-03-28 11:57] walaa5 commented on #32
hello @geekquad, can me also work on this issue?

[2021-03-28 13:02] Divyang0601 opened #130 "Implementing Canny Edge Detection on Images"

[2021-03-28 13:04] Divyang0601 opened #131 "Implementing Mouse Events on Images using OpenCV"

[2021-03-28 13:06] Divyang0601 opened #132 "Bitwise operations on Images"
The notebook will demonstrate how we can apply bitwise operations like AND, OR, and NOT upon images, to alter the current BGR scheme of the image

[2021-03-28 13:39] walaa5 opened #133 "Object tracking"
Hello, @geekquad ,I would like to work on this issue, can you assign it to me.

[2021-03-28 15:10] dsrao711 commented on #126
Completed. Just check the PR

[2021-03-28 19:16] geekquad commented on #96
Assigning you with Multiple Objects @YMMSSH.

[2021-03-28 19:17] geekquad commented on #105
Assigning you with the same @iaditichine.

[2021-03-28 19:19] geekquad commented on #107
Assigning you with the same @undetectablevirus . Please be more focused on the implementation of the processing technique and not the application.

[2021-03-28 19:21] geekquad commented on #114
Hey @raj-gupta1, please provide a valid description for the same.
Hey @raj-gupta1, we always follow the First come First serve method. Feel free to create an issue if you have something in mind which we already don't have.
@i-akshat-jain, we are not accepting any projects/ mini-projects. Feel free to create an issue for any kind of Image Processing technique you wish to add.v

[2021-03-28 19:23] geekquad commented on #116
Assigning you with the same @KKhushhalR2405.
Please add it in the [EdgeDetection](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/EdgeDetection) folder.

[2021-03-28 19:25] geekquad commented on #118
We are accepting various techniques used in Image Processing and not its application. Feel free to create an issue again if I misunderstood something. Thankyou.

[2021-03-28 19:25] #118 closed

[2021-03-28 19:25] geekquad commented on #119
Already assigned to someone else. Please look at #5.

[2021-03-28 19:25] #119 closed

[2021-03-28 19:26] geekquad commented on #120
Please provide a valid description so that we can get a glimpse of what you are trying to do.

[2021-03-28 19:27] geekquad commented on #121
Hey @surbhi2408, which Image Processing technique will you be using?

[2021-03-28 19:28] geekquad commented on #127
Assigning you with the same @shivangi-pandey.

[2021-03-28 19:29] #130 closed

[2021-03-28 19:29] geekquad commented on #131
Provide a description for the same.

[2021-03-28 19:29] geekquad commented on #132
Provide a description for the same.

[2021-03-28 19:30] geekquad commented on #69
Hey @SavneetKaur01, approach, references, methodology, and concept behind the technique.

[2021-03-28 19:32] #133 closed

[2021-03-28 19:33] geekquad commented on #128
Already exists #25.

[2021-03-28 19:33] #128 closed

[2021-03-28 19:34] Divyang0601 commented on #132
Just did

[2021-03-28 19:34] geekquad commented on #129
Already exists #33/

[2021-03-28 19:34] #129 closed

[2021-03-28 19:34] geekquad commented on #132
Assigning you with the same @Divyang0601.

[2021-03-28 19:37] Divyang0601 commented on #131
Just added the description, pls check it out

[2021-03-28 19:39] geekquad opened #137 "Documentation Issues Guidelines"
The guidelines for documentation issues go here
What you need for documentation:

Heading of the algorithm

Introduction : definition,history
How Algorithms Works? : algorithms steps, ideas behind the algorithm
Advantages
Disadvantages
Applications : where it's used
References: link for further reading, links to youtube vids so
Write it in a way that's simple, digestible to a beginner. When someon

[2021-03-28 19:39] YMMSSH commented on #58
@geekquad  I have already work on it can you assign it to me please?

[2021-03-28 22:00] walaa5 opened #138 "Bilateral Filtering"
Hello, I want to work on Bilateral Filtering, can you assign it to me.

[2021-03-29 04:42] surbhi2408 commented on #121
I will be using OpenCV library for this.

[2021-03-29 05:33] abh33 opened #139 "Otsu Thresholding"
Hi. I would like to work on Otsu Thresholding next. I am Gssoc '21 participant

[2021-03-29 05:37] abh33 opened #140 "Optical Flow"
Hi. I would like to work on Optical Flow. I am a Gssoc '21 participant

[2021-03-29 14:00] iamakkkhil commented on #13
Hey, I am a GSSOC 21 participant would love to work on this issue and resize the image using cv2 inbuilt methods and we can ask user to enter dimensions or aspect ratio accordingly the program can resize it. Then the program will save the file in the user defined directory with user defined name.

[2021-03-29 14:04] RohiniRG opened #141 "Corner Detection techniques"
Opencv provides corner detection techniques like Harris Corner Detection, Shi Tomasi Corner Detection and Good Features to track. For this script, I would like to showcase all the various methods to use these in Opencv-python. I am a GSSoC'21 participant and would like to work on this issue.
@geekquad @kritikaparmar-programmer

[2021-03-29 14:14] iamakkkhil commented on #9
Hey, I would like to work on this issue as there been no update since Feb 19, can I work on this @kritikaparmar-programmer @geekquad ???
I will create a program that will ask the user to enter 4 points or will detect automatically borders of the page by using contour detection
Kindly assign the same to me.

[2021-03-29 14:18] RohiniRG opened #142 "Tracking APIs"
Various tracking APIs are available built-in with opencv such as MIL, KCF, Median Shift and so on.  I would like to prepare a script that shows all these algorithms allowing one to compare and understand which is best suited for them. I would like to work on this issue as a GSSoC'21 participant.
Kindly assign this to me @geekquad @kritikaparmar-programmer

[2021-03-29 15:15] HimanchalChandra commented on #9
@iamakkkhil Sorry bro I was busy on some other stuff, will do this by the end of this week

[2021-03-29 15:31] i-akshat-jain commented on #114
@geekquad what I mean is I have the solution for this issue. I am not proposing any new project or an issue with it.

[2021-03-30 09:58] arpitmaheshwari213 opened #146 "Video Processing"
I am a participant of GSSoC'21. I wanted to give a suggestion to add code for video processing using OpenCV.
We are currently writing code for various algorithms and functions for images. It would be a simple code to get frames by reading a video file and do image processing on them. Kindly assign this issue to me.

[2021-03-30 18:59] geekquad commented on #141
Hey @RohiniRG, go ahead with Shi Tomasi Corner Detection and Good Features to track.
We already have Harris Corner Detection.

[2021-03-30 19:00] geekquad commented on #142
Assigning you with the same @RohiniRG.

[2021-03-30 19:01] geekquad commented on #146
Assigning you with the same @arpitmaheshwari213.

[2021-03-31 01:46] #67 closed

[2021-03-31 05:54] iamakkkhil opened #150 "Face Tracking using Meanshift and Camshift algorithm"
Meanshift and Camshift algorithm can be very well implemented to track detected faces in a live video, we can also do a comparative study which algorithm is better.
I am a GSSoC participant and would like to work on this issue, kindly assign me the same @geekquad @kritikaparmar-programmer .

[2021-03-31 06:08] iamakkkhil opened #151 "Drawing on live camera"
This script demonstrates drawing of various shapes on a live camera feed from a webcam using various mouse events in OpenCV.
I would like to work on this issue would you please assign me the same @geekquad @kritikaparmar-programmer

[2021-03-31 07:04] akhil-debug opened #152 "Face mask detection"
I am a GSSOC participant. I would like to work on a project that detects if a person is wearing a face mask and alerts the bystanders if there are a lot of people without face masks. Please assign this project to me.

[2021-03-31 15:09] noviicee opened #154 "Add FAST Algorithm for Corner Detection"
I want to add the **implementation** for the FAST Algorithm for Corner Detection.

[2021-03-31 15:10] noviicee opened #155 "Add implementation for BRIEF."
I want to add the **implementation** for BRIEF in OpenCV.

[2021-03-31 15:14] noviicee opened #156 "Add implementation of SIFT algorithm."
Add the basic implementation of SIFT (Scale-Invariant Feature Transform) algorithm to extract keypoints and compute its descriptors.

[2021-03-31 15:23] noviicee opened #157 "Add implementation of ORB Algorithm"
I want to add a minimal implementation of ORB (Oriented FAST and Rotated BRIEF) algorithm.

[2021-03-31 15:40] moyantri commented on #120
@geekquad printing watermark or logo or text on any photo

[2021-03-31 20:25] undetectablevirus commented on #108
@geekquad What about this issue?

[2021-04-01 08:27] mansi75 commented on #57
@geekquad
https://github.com/geekquad/Image-Processing-OpenCV/pull/160
Kindly check.

[2021-04-01 08:32] mansi75 opened #161 "Adding files for the Otsu Thresholding"
I am a GSSOC 21 participant. Kindly assign me this.

[2021-04-01 08:33] mansi75 opened #162 "Adding files to the Image resizing"
I am a GSSOC 21 participant. Kindly, assign me this issue to work on the image resizing.

[2021-04-01 12:49] sayantan1413 opened #163 "Adding implementation on Canny Edge Detection"
I am a gssoc'21 participant and I want to write the implementation on canny edge detection code in python OpenCV so kindly assign me the issue .

[2021-04-01 19:00] geekquad commented on #120
Hey @moyantri, which Image Processing technique will you be using here?

[2021-04-01 19:14] geekquad commented on #141
Hey @noviicee, it has already been assigned to someone.
Please check #27.

[2021-04-01 19:29] dsrao711 commented on #126
Hi @geekquad , Please check my PR

[2021-04-02 08:00] Saptar001 commented on #138
Hello  @walaa5 ,
It is already assigned to me, refer #33 and I am working on it .
Thank you ! :)

[2021-04-02 15:26] Saptar001 opened #165 "Real time document Scanner"
Hello,
I want to work on this issue "Real time document scanner" where the user could scan a document through his/her camera and could save the scanned image in the device.

I would be very glad if I am assigned with this issue to work on for GSSOC,21
(I hope and guess that this issue or similar to this hasn't been assigned to anyone till now)

Thank You ! :)

[2021-04-02 20:06] noviicee commented on #141
@geekquad yup I just had a look. Np ☮️

[2021-04-02 21:24] #138 closed

[2021-04-02 21:26] geekquad commented on #152
Hey @akhil-debug, we are focusing more on the implementation of Image Processing techniques rather than its application.
This repo is not for the accumulation of projects/mini-projects.
Please reopen the issue if I missed out on something. Do let me know if there is a specific Image Processing technique you will be using here!

[2021-04-02 21:26] #152 closed

[2021-04-02 21:27] geekquad commented on #154
Assigning you with the same @noviicee.

[2021-04-02 21:29] geekquad commented on #108
Hey @undetectablevirus,
we are focusing more on the implementation side of Image Processing techniques using **OpenCV** and not on its application.
Feel free to add Techniques here.

[2021-04-02 21:29] #108 closed

[2021-04-02 21:30] geekquad commented on #155
Assigning you with the same @noviicee.

[2021-04-02 21:31] geekquad commented on #156
Hey @noviicee, it has already been assigned.
Please check #10.

[2021-04-02 21:31] #156 closed

[2021-04-02 21:32] geekquad commented on #157
Go ahead!

[2021-04-02 21:33] geekquad commented on #161
Assigning you with the same @mansi75.

[2021-04-02 21:34] geekquad commented on #162
Hey @mansi75, it has already been assigned.
Please check #13.

[2021-04-02 21:34] #162 closed

[2021-04-02 21:36] geekquad commented on #163
Hey @sayantan1413, it has already been assigned to someone.
Please check #5.

[2021-04-02 21:36] #163 closed

[2021-04-02 21:37] geekquad commented on #151
Hey @iamakkkhil, which Image Processing technique will be used here?

[2021-04-02 21:39] geekquad commented on #165
Hey @Saptar001, we are focusing more on the implementation side of various Image Processing techniques and not on its application using various projects.
Feel free to reopen this issue if I have misunderstood something.
Lookout for issues, we have plenty of them left and more on their way.
Thankyou.

[2021-04-02 21:39] #165 closed

[2021-04-03 04:20] Saptar001 opened #166 "Image Registration"
Hello @geekquad , I want to work on this issue "Image Registration" using homography.
It would be very nice if I am assigned with this issue and I would be glad to work on it.

Thank You ! :)

[2021-04-03 11:36] sayantan1413 opened #167 "Harris Corner Detection"
I am a Gssoc'21 participant and I want to implement the Harris Corner Detection using Python OpenCV. Please assign me the issue @geekquad .

[2021-04-03 17:13] Divyang0601 commented on #131
Please assign this issue so that I can contribute on this feature

[2021-04-03 19:32] geekquad commented on #131
Hey @Divyang0601, which Image Processing technique will you be using here?

[2021-04-04 03:41] Divyang0601 commented on #131
There are inbuilt mouse click events in opencv library..through this notebook I would like to demonstrate how those events can be used in our image processing task
Eg: If you want to select a specific region of interest in a given image then you can use a mouse click event to get the exact coordinates of the vertices of the region of interest.
Also by clicking on a particular point you can also fi

[2021-04-04 03:42] Divyang0601 commented on #131
There are inbuilt mouse click events in opencv library..through this notebook I would like to demonstrate how those events can be used in our image processing task
Eg: If you want to select a specific region of interest in a given image then you can use a mouse click event to get the exact coordinates of the vertices of the region of interest.
Also by clicking on a particular point you can also fi

[2021-04-04 07:41] NikkiPriya commented on #58
Hi, I'm Gssoc21's participant and I want to try on this issue . Could you please assign this to me, as I am familiar with this issue?

[2021-04-04 07:45] NikkiPriya commented on #11
I want to work on it can you please assign it to me, as i have previously worked on similar project, so can I?

[2021-04-04 10:17] noviicee opened #170 "Broken links in the Readme file."
The provided links in the *Contribution Guidelines* part of the README are not working.
I can fix them!

[2021-04-04 10:45] Rajeswari0410 commented on #22
Hello! I'm a GSSOC'21 participant and would like to work on this issue.Please assign me this issue.

[2021-04-04 10:54] Rajeswari0410 commented on #121
Hello! I'm a GSSOC'21 participant and would like to work on this issue. Can you assign me with this?

[2021-04-04 21:34] arpitmaheshwari213 commented on #146
Could you please assign this issue to me?

[2021-04-05 09:46] Dishita2602 commented on #105
I am currently learning this. Please assign me if not completed

[2021-04-05 09:50] Dishita2602 commented on #31
If there is no update please assign this issue to me. I am GSSoC'21 participant leaning this..

[2021-04-05 09:53] Dishita2602 commented on #30
If there is no update than I am ready to contribute .. Please assign me

[2021-04-05 16:16] einhawking commented on #22
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:17] einhawking commented on #69
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:17] einhawking commented on #57
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:24] #44 closed

[2021-04-05 17:27] KKhushhalR2405 opened #175 "Improving Illumination in Night Time Images"
I will be improving illumination in nighttime images using only the OpenCV library. Kindly assign this to me.

[2021-04-05 17:27] psyduck1203 commented on #22
@Rajeswari0410, @einhawking  Sorry but I have already made a PR and it has been merged. @geekquad can you please close this issue.

[2021-04-05 19:22] iamakkkhil opened #176 "Background Subtraction using GrabCut Algorithm"
By using grabcut algorithm in OpenCV, this script will demonstrate how to use this opencv technique of bg subraction.
I am GSSOC 21 participant kindly assign me the same.

[2021-04-05 19:24] iamakkkhil commented on #151
Drawing on live camera feed the desired shapes through <b>Mouse call back functions</b>.

[2021-04-06 06:40] varshakr1298 opened #177 "Colpr detection using HSV colorspace"
Hello, I am GSSoC'21 participant, this code will detect all the blue color present in the surrounding or area Captured by primary camera of a device.

Kindly assign me this issue

[2021-04-06 06:47] varshakr1298 opened #178 "Live Sketcher using OpenCV Library"
I am GSSoC'21 participant I would like to work on this issue. This will create a live sketch of the person being captured through the primary camera of the device using the OpenCV library cv2 and it involves the techniques like Guassian Blurring, Canny edge detection and thresholding.

[2021-04-06 06:48] varshakr1298 commented on #178
*person or any other object

[2021-04-06 07:33] Ayush12062000 opened #179 "Neural Style Transfer"
Hello, I want to add and work on Neural style transfer and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in the Python Language, will be using the pre-trained model VGG19.

(Neural style transfer is a technique that takes two images, a Content image and a style reference image, and blends them together so the output image looks

[2021-04-06 11:04] ParthSingh0506 opened #180 "Using Neural Network for detecting Emotion in video as well as images"

[2021-04-06 11:05] ParthSingh0506 commented on #180
@geekquad kindly assign me this issue I am a gssoc21 participant

[2021-04-06 12:19] anirudhsai20 opened #182 "Readme file enhancement"
I will add a list of all the Open Source programs in which this project was listed in.

[2021-04-06 12:20] anirudhsai20 commented on #182
Hi! Please assign this issue to me under GSSOC.

[2021-04-07 17:51] Saptar001 opened #183 "Face Detection using Haar Cascades"
Hello @geekquad , I want to work on this issue "Face Detection"  where I would be using  "Haar Cascades".
It would be very nice if I am assigned with this issue as I see no one still worked on this issue (using Haar Cascades ) and I would be glad to work on it.

Thank You ! :)

[2021-04-08 10:32] mansi75 commented on #161
@geekquad I am not able to make a pull request for this one although I have updated the file

[2021-04-08 16:25] kritikaparmar-programmer commented on #30
Hey @NitiKaur  @Simar05519
@Dishita2602
the face detection folder will contain the python script which will detect faces while the camera is on and it will be good if any colored box will formed on face detection, let me know who is interested, I'll assign you with the issue

[2021-04-08 16:27] kritikaparmar-programmer commented on #58
@sherin527 because of your inactivity of more than 23 days, I'm assigning this issue to @YMMSSH. Go ahead 🚀

[2021-04-08 18:08] sudipg4112001 opened #184 "Changing colour"
I would like to add a project for changing colour spaces. Here, we will convert images from one color-space to another, like BGR to Gray, BGR to HSV etc.

[2021-04-08 18:14] sudipg4112001 opened #185 "Geometric transformation of images"
I would like to perform operations like scaling, translation, rotation etc.

[2021-04-08 18:23] Dishita2602 commented on #30
I have never worked on this but would like to try it. I am interested

[2021-04-09 08:31] shantamsultania opened #186 "a Template WebApp for All the Algorithms"
I am thinking of making an Image processing WebAp in which a person can easily integrate his Image Processing Algorithm and thus make a Web app of the same.

Example
Think of it like you have a face detection code with the help of my template you will just need to call a new function and done your web app with the OpenCV algorithm will be done

[2021-04-09 17:11] ricsin23 opened #188 "Arithmetic Operations on Images using OpenCV"
I would like to perform addition and subtraction on two images.
I am a participant at GSSOC'21, requesting admins to assign me this issue.

[2021-04-10 17:21] geekquad commented on #161
Hey @mansi75, why is that so?

[2021-04-10 17:22] geekquad commented on #166
Hey @Saptar001, assigning you the same.

[2021-04-10 17:23] geekquad commented on #179
Hey @Ayush12062000, no pre-trained models are allowed. Thankyou.

[2021-04-10 17:23] #179 closed

[2021-04-10 17:24] geekquad commented on #167
Hey @sayantan1413, please check #27.
It is already assigned to someone.

[2021-04-10 17:24] #167 closed

[2021-04-10 17:25] geekquad commented on #170
Hey @noviicee, please attach a screenshot marking the link that is broken. Thankyou.

[2021-04-10 17:26] geekquad commented on #151
Hey @iamakkkhil, I don't think that is an Image Processing technique.
Feel free to raise another issue If I missed out on something,

[2021-04-10 17:26] #151 closed

[2021-04-11 05:52] mansi75 commented on #57
@geekquad
https://github.com/geekquad/Image-Processing-OpenCV/pull/160
Kindly check this PR

[2021-04-11 11:38] NEERAJAP2001 opened #190 "Add Implementation Of face detection"
I'd like to add an implementation of face detection using open cv into [this]( https://github.com/geekquad/Image-Processing-OpenCV/tree/master/Face_Detection) folder.

I'd like to work on this as a part of GSSOC-21

[2021-04-11 17:23] geekquad commented on #175
Hey @KKhushhalR2405, assigning you the same.
Is there any specific Image Processing technique you will be using?

[2021-04-11 17:24] geekquad commented on #176
Assigning you the same @iamakkkhil.

[2021-04-11 17:25] geekquad commented on #177
Hey @varshakr1298, will this include any specific Image Processing technique we currently don't have?

[2021-04-11 17:25] geekquad commented on #178
Already exists.

[2021-04-11 17:25] #178 closed

[2021-04-11 17:26] geekquad commented on #180
Hey @ParthSingh0506, will you be using any pre-trained model?

[2021-04-11 17:27] geekquad commented on #182
Hey @anirudhsai20, there is no need for this right now.
Find out more issues you can contribute to. Thankyou.

[2021-04-11 17:27] #182 closed

[2021-04-11 17:28] geekquad commented on #184
Already exists. Please check #25.

[2021-04-11 17:28] #184 closed

[2021-04-11 17:40] geekquad commented on #185
Hey @sudipg4112001, a similar issue already exixts.
Please checkout if there is any other issue you would like to contribute to.
Thankyou.

[2021-04-11 17:40] #185 closed

[2021-04-11 17:41] geekquad commented on #131
Hey @Divyang0601, assigning you with same.
Let is see what you are upto.

[2021-04-11 17:43] geekquad commented on #132
Hey @Sukriti-sood, a PR is already made for the same.
Please look out for another issues. We need help with plenty of them.

[2021-04-11 17:46] geekquad commented on #69
Since @SavneetKaur01 is inactive, the issue is being transferred to @dikshajoshi18.

[2021-04-11 17:47] #22 closed

[2021-04-11 17:48] geekquad commented on #30
Assigning you with same @Dishita2602.

[2021-04-11 17:52] geekquad commented on #31
Since @NitiKaur is inactive, the issue is being transferred to @riyalamba07.
Usage of any pre-trained model is not allowed.

[2021-04-11 17:54] geekquad commented on #105
Since @iaditichine is inactive, this issue is being transferred to @aayushi1908.

[2021-04-11 17:55] geekquad commented on #121
Hey @surbhi2408, I am not asking about the library.
I am asking about the technique you will be using,

[2021-04-11 17:56] geekquad commented on #186
Hey @shantamsultania, I am planning to do something like this.
Need to discuss more.
Please ping me on the discord server.
Thankyou.

[2021-04-11 17:58] geekquad commented on #188
Assigning you with the same @ricsin23.

[2021-04-11 17:59] geekquad commented on #190
Hey @NEERAJAP2001, this already exists.
Please look out for more issues you can contribute to.
Thankyou.

[2021-04-11 17:59] #190 closed

[2021-04-11 18:01] ParthSingh0506 commented on #180
@geekquad No I will not be using any pre trained model. I will going to use the CNN. Basically I will going to create a new model for this.

[2021-04-11 18:01] shantamsultania commented on #186
ok man can you can share your discord username will ping you the same in the morning

[2021-04-11 18:07] varshakr1298 commented on #177
In this I am basically creating a mask and then using bitwise and operation

[2021-04-11 19:04] #20 closed

[2021-04-11 19:41] noviicee commented on #170
@geekquad
Sure!

In the *Contribution Guidelines* of the README file,

When you click here-
![Screenshot (1681)](https://user-images.githubusercontent.com/72334601/114318640-8d36a600-9b2b-11eb-9edb-5608360618ce.png)

You are redirected to here-
![Screenshot (1686)](https://user-images.githubusercontent.com/72334601/114318659-a8a1b100-9b2b-11eb-8690-2fce1bf7c3eb.png)

And when you click here-
![Scr

[2021-04-11 20:15] KKhushhalR2405 commented on #175
@geekquad  I would be using the dual-channel prior-based method for low illumination image enhancement within a single image. I would be mentioning more about it in the readme file. Thank you for assigning me. Is there any particular folder in which I should add my code?

[2021-04-12 01:48] sudipg4112001 opened #192 "Morphological transformation"
I would like to perform basic morphological operations like Erosion and Dilation. Then its variant forms like Opening, Closing, Gradient etc

[2021-04-12 01:51] sudipg4112001 opened #193 "Template matching"
I would like to add a project for template matching.
Here, I would like to take a image as input and check whether it matches with another image.

For example: image of eye is taken as input and we have to find whether it matches with a person's full body image.

[2021-04-12 04:04] NEERAJAP2001 opened #194 "Face Mask Detection using EfficientnetB3"
On an additional note, I'd like to add a Live Webcam Feature to detect masks using EfficientNetB3.

# Architecture :

[code]

# Project Pipeline :

![face mask detection- mtcnn](https://user-images.githubusercontent.com/65017645/114337677-305cdf00-9b6f-11eb-8e22-f53bc57e3b7a.png)

I'd like to work on this issue as part of GSSOC-21.

[2021-04-12 05:36] geekquad commented on #170
Hey @noviicee, go ahead!

[2021-04-12 05:38] geekquad commented on #175
Hey @KKhushhalR2405, feel free to create a new folder with the name in the prescribed format.
Remember we are focusing more on the implementation of the technique and less on its application so keep this in mind.
Thankyou.

[2021-04-12 05:39] geekquad commented on #177
Hey @varshakr1298, I guess these already exist.
Feel free to check out any other issue you can contribute to.
Thank you.

[2021-04-12 05:39] #177 closed

[2021-04-12 06:05] Divyang0601 commented on #131
Just did it, and created the pull request
Pls check it out

[2021-04-12 06:07] Divyang0601 commented on #132
Pls review my pull request for this issue PR #169

[2021-04-12 06:19] geekquad commented on #180
Hey @ParthSingh0506, this issue does not match with the sentiment of this repo.
Please check out any other issues you can contribute to.
Thankyou.

[2021-04-12 06:19] #180 closed

[2021-04-12 06:20] varshakr1298 commented on #177
Okay thank you!

[2021-04-12 11:53] riyalamba07 commented on #31
Thank you.

On Sun, 11 Apr 2021, 23:22 Aditya Kumar Gupta, ***@***.***>
wrote:

[2021-04-12 13:39] ShubhamGupta577 commented on #157
@geekquad Under GSSOC'21 I want to work on this issue. Can you please assign me this issue.

[2021-04-12 13:51] ShubhamGupta577 opened #196 "Implementing Denoising algorithm"
## Aim
In this script, I would like to implement the `Denoising Algorithm` which is used to removing the noise from the image. This technique is better than Gaussian blurring and Median blurring which is also used for the same purpose.

@geekquad, Under the GSSOC'21 I want to work on this so please assign this issue to me.

[2021-04-12 14:04] geekquad commented on #157
Since @noviicee is inactive, the issue is being transferred to @ShubhamGupta577.

[2021-04-12 14:06] geekquad commented on #186
Hey, @shantamsultania I cannot find you on the server.
You can look out for me in the specific project channel.
Username: Geekquad#0299

[2021-04-12 14:09] shantamsultania commented on #186
Hey @geekquad sent you a message please find it

[2021-04-12 14:43] noviicee commented on #157
@geekquad  I have already created a pull request regarding previous issues. I was waiting for you to review those so that I could make more PRs. I have already prepared the code for this issue

[2021-04-12 14:44] noviicee commented on #157
I posted two times in the channel too, but got no reply and hence I was waiting.

[2021-04-12 15:51] geekquad commented on #157
There has been some sort of confusion. This issue stays with @noviicee.
Please change your name to avoid any sort of confusion.
@ShubhamGupta577 please look out for other issues you can contribute to.
Thankyou.

[2021-04-14 06:29] RohiniRG commented on #141
@geekquad Could you please have a look at PR#172

[2021-04-14 06:30] RohiniRG commented on #142
@geekquad Could you have a look at the linked PR#181

[2021-04-14 09:57] geekquad commented on #192
Hey @sudipg4112001,
it already exists. Please check #126.

[2021-04-14 09:57] #192 closed

[2021-04-14 09:58] geekquad commented on #193
Hey @sudipg4112001,
It already exists. Please check #96.

[2021-04-14 09:58] #193 closed

[2021-04-14 10:00] geekquad commented on #194
Hey @NEERAJAP2001,
No pre-trained models are allowed. Moreover, this is not something we are looking for.
Thankyou.

[2021-04-14 10:00] #194 closed

[2021-04-14 11:20] NikkiPriya commented on #53
I want to work on this issue can i be assign for this issue?

[2021-04-14 11:21] NikkiPriya commented on #107
Please assign it to me I want to work on it.

[2021-04-14 11:24] NikkiPriya commented on #73
I have already made changes in my machine can you please assign it to me so that I can commit it?

[2021-04-14 18:45] geekquad commented on #196
Hey @ShubhamGupta577, assigning you with the same.

[2021-04-15 13:23] ShubhamGupta577 commented on #63
@geekquad, Under GSSOC'21 I would like to contribute to this issue. Please assign me this issue.

[2021-04-15 13:33] ShubhamGupta577 opened #204 "Template Matching"
## Template Matching
Template Matching is a method for searching and finding the location of a template image in a larger image.

@geekquad, I would like to work on this issue under GSSOC21. Please assign me this issue.

[2021-04-16 17:39] #204 closed

[2021-04-16 17:40] geekquad commented on #140
Hey @abh33, what exactly are you planning to do here?

[2021-04-16 17:42] geekquad commented on #139
Hey @abh33, it is already assigned to someone.
Please check #161.

[2021-04-16 17:42] #139 closed

[2021-04-17 17:22] #154 closed

[2021-04-17 17:28] geekquad commented on #150
Hey @iamakkkhil, go ahead!
Focus more on the implementation of the algorithm rather than its application.

[2021-04-17 17:33] geekquad commented on #183
Hey @Saptar001, we already have a lot of face detection techniques.
Can you implement Haar Cascades for something other than face detection?

[2021-04-17 18:20] Priyadarshan2000 opened #206 "AI Trainer using OpenCV"
# Aim

- To make an AI Trainer using OpenCV

# Details
In this Project on building an AI Trainer using OpenCV and Python. We will use the pose estimation running on the CPU to find the correct points and using these points we will get the desired angles. Then based on these angles we find many gestures including the number of biceps curls. I will write the code in a way that you will be able to fi

[2021-04-17 19:12] RohiniRG opened #207 "Homography implementation"
The script will cover the implementation of using Homography technique of opencv along with Feature Matching, to perform object tracking of a known object within a given complex scene.

I am a GSSOC'21 participant and would like to work on this issue.

[2021-04-18 06:19] Priyadarshan2000 commented on #206
/assign

[2021-04-18 13:03] Saptar001 commented on #183
@geekquad  what about pedestrain detection( full body detection) using haar cascades from a video ??

[2021-04-18 13:20] mansi75 commented on #57
@geekquad Kindly check the PR above

[2021-04-18 14:38] Priyadarshan2000 commented on #206
/assign

[2021-04-18 15:46] shantamsultania opened #209 "a facial Lock system"
hey, I am thinking of making a facial lock system using OpenCV in which a dataset of current user will be taken and then with the help of which algo will predict if that person is user or not if its the user it will unlock else it will not

[2021-04-18 18:24] geekquad commented on #209
Hey @shantamsultania, this doesn't match our sentiment. We are not collecting projects.
Rather than we are focusing on having various Image Processing techniques. Thankyou.

[2021-04-18 18:24] #209 closed

[2021-04-18 18:26] geekquad commented on #206
Hey @Priyadarshan2000, really appreciate you here.
However, this doesn't match our sentiment. We are not collecting projects.
Rather than we are focusing on having various Image Processing techniques. Thankyou.

[2021-04-18 18:26] #206 closed

[2021-04-18 18:27] geekquad commented on #207
Hey @RohiniRG, assigning you with the same.

[2021-04-20 07:07] SrishtiArya07 opened #210 "Invisibility Cloak"
An invisibility cloak is a magical garment that renders whomever or whatever it covers invisible. I would use Color detection and segmentation technique to make the invisibility cloak.
The algorithm is very similar in principle to green screening. But unlike green screening where we remove the background, in this application, we will remove the foreground.

Please assign this issue to me under GSS

[2021-04-21 04:29] Saptar001 commented on #183
@geekquad  do let me know the above suggestion so that I could start working on it !

:)

[2021-04-22 16:27] Tejal18 commented on #13
@geekquad  I wanted to contribute to this issue . Please can you assign me this issue?
Thanks.

[2021-04-22 18:19] #210 closed

[2021-04-22 19:40] #170 closed

[2021-04-24 19:30] #157 closed

[2021-04-25 11:54] ahmedtarek26 commented on #30
hello I'm a GSSOC'21 participant, plz assign it to me
@Dishita2602  we can do this issue together

[2021-04-25 17:46] noviicee commented on #10
If this issue is still open can I take this up?
@geekquad  @kritikaparmar-programmer

[2021-04-26 09:40] mehabhalodiya commented on #10
Yes, I am not working on this as I have other stuff to do.
You can ask for assignment of this issue and start working :)

[2021-04-26 09:56] noviicee commented on #10
Thanks @mehabhalodiya
@geekquad  @kritikaparmar-programmer kindly assign me with the issue.

[2021-04-27 19:32] #155 closed

[2021-04-29 09:31] Dishita2602 commented on #30
I am working ..I am just learning so it will take time

[2021-04-29 13:57] ahmedtarek26 commented on #30
okay, I also still learning, could we work on this issue together?

[2021-04-29 14:11] Simar05519 commented on #30
Yaa, we can work together.

[2021-04-29 16:10] ahmedtarek26 commented on #30
great, this is my LinkedIn:

https://www.linkedin.com/in/ahmed-tarek-4135251b3/?locale=en_US

[2021-04-29 16:33] Dishita2602 commented on #30
@kritikaparmar-programmer @ahmedtarek26 has commented first so you can assign him with me

[2021-04-29 19:59] #27 closed

[2021-04-30 20:16] geekquad commented on #183
Hey @Saptar001, go ahead.
You are doing amazing work. Keep it up 🔥

[2021-05-01 15:31] mansi75 opened #217 "Color histogram for images"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-01 15:32] mansi75 commented on #217
Create color histogram for each Red, Green, Blue channel of the image. KIndly assign me this.

[2021-05-01 19:21] iamakkkhil opened #218 "Fourier Transformation OpenCV"
Fourier Transformation helps to understand the frequency characteristics produced under various filters.
I will also be covering Discrete Fourier transformation algorithm

I am a GSSOC21 participant and I would like to work on the same.

[2021-05-01 19:26] iamakkkhil opened #219 "Optical Flow OpenCV"
This script will implement Lucas Kanade and the dense optical flow method.

I am a gssoc21 participant and I would like to work on this issue

[2021-05-02 14:45] dsrao711 opened #221 "Image Cartoonification"
**Is your feature request related to a problem? Please describe.**
Image cartoonification section hasnt been implemented

**Describe the solution you'd like**
<img width="322" alt="cartoon" src="https://user-images.githubusercontent.com/59830064/116817111-7dd2d780-ab82-11eb-9d25-b5b09c096881.png">
Implementing the solution with Open CV

[2021-05-02 14:46] dsrao711 commented on #221
Please assign me this issue as a GSSOC 21 participant

[2021-05-02 15:06] kritikaparmar-programmer commented on #221
Assigning you @dsrao711. Add your code to the Image_cartoonification folder.

[2021-05-02 15:41] kritikaparmar-programmer commented on #221
Hey, @dsrao711 Sorry but the pr for the same issue has already been made :
https://github.com/geekquad/Image-Processing-OpenCV/pull/159
Sorry for the inconvenience, but I'll have to unassign you for the same.

[2021-05-02 16:10] #221 closed

[2021-05-02 16:15] geekquad commented on #217
Hey @mansi75, isn't it something similar to this?
[Histogram Matching](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/HistogramMatching)

[2021-05-03 13:08] mansi75 commented on #217
@geekquad It is the distribution of pixel intensities of color or grayscale in an image. A visualization of plot or graph. It can also be done in by building 2D histogram.

[2021-05-04 04:18] #166 closed

[2021-05-05 06:55] mansi75 opened #223 "Cartoon effect notebook"
**Is your feature request related to a problem? Please describe.**
Yes. It is for the cartoon effect in OpenCV.

**Describe the solution you'd like**
I would like to work on the applying cartoon effect on an image, using openCV techniques for image transformation.

**Describe alternatives you've considered**
Using bilateral Filter, adaptive thresholding and other OpenCV techniques to apply cartoon

[2021-05-05 06:55] mansi75 commented on #223
Kindly, assign me this issue.

[2021-05-05 06:58] mansi75 opened #224 "3-D Map construction"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-05 06:58] mansi75 commented on #224
KIndly, assign me this issue.

[2021-05-05 10:43] ainy-123 commented on #121
Hello @geekquad , I want to work on this issue, will you please assign this to me.

[2021-05-06 16:40] Aparna-Sakshi opened #226 "UV Disparity Maps"
**Description**
I would like explain what U and V disparity maps are in detail and provide an implementation for them in python (using opencv)

[2021-05-06 16:45] Aparna-Sakshi commented on #226
I am a GSSOC21 participant. Please assign this issue to me @geekquad.

[2021-05-07 06:36] geekquad commented on #217
Can you please provide a sample or any sort of article or anything for clarification?

[2021-05-07 06:37] geekquad commented on #223
Hey @mansi75, the issue template is made for you so that you can follow that and describe what the issue/feature is all about. Please use that to let us know what exactly you are up to. Thankyou.

[2021-05-07 06:37] geekquad commented on #224
Hey @mansi75, the issue template is made for you so that you can follow that and describe what the issue/feature is all about. Please use that to let us know what exactly you are up to. Thank you.

[2021-05-07 06:38] geekquad commented on #226
Sure @Aparna-Sakshi, go ahead!

[2021-05-07 06:40] geekquad commented on #121
Which Image Processing technique will you be using?

[2021-05-07 10:09] ainy-123 commented on #121
I will use openCV library and colour picker to get the exact HSV value from the RGB value for the colour to be detected and then will create the mask for that particular colour .Thus,the particular colour will be detected, wherever it is present in the given image and all other regions will be black.

[2021-05-07 13:49] geekquad commented on #121
Go ahead @ainy-123. Let's see what you are upto.

[2021-05-07 13:52] ainy-123 commented on #121
Thank you for assigning me this issue @geekquad  !!

[2021-05-08 05:37] mansi75 commented on #223
@geekquad Kindly check! Updated.

[2021-05-08 12:37] ainy-123 commented on #121
Hello @geekquad
In which folder, should the code be added??

[2021-05-08 20:57] #207 closed

[2021-05-08 20:59] geekquad commented on #223
Hey @mansi75, isn't it something similar to #27 and #107.

[2021-05-08 20:59] geekquad commented on #224
Hey @mansi75, go ahead.

[2021-05-09 02:56] ainy-123 commented on #121
Hello @geekquad ,I have created a new folder named Color Detection and added the code and readme file there. Please review my PR.

[2021-05-09 04:45] #39 closed

[2021-05-09 07:59] mansi75 commented on #223
@geekquad Yes, it is

[2021-05-09 08:05] mansi75 commented on #217
@geekquad https://medium.com/@rndayala/image-histograms-in-opencv-40ee5969a3b7
Something like this but it is a 2D graph for two channels like green and blue channels, or green and red, red and blue, each of the combination.

[2021-05-09 13:00] geekquad commented on #223
Hey @mansi75, it already exists.

[2021-05-09 13:00] #223 closed

[2021-05-09 13:01] geekquad commented on #219
Hey @iamakkkhil, go ahead.

[2021-05-11 11:02] ainy-123 opened #234 "Face Emotion Recognition Using OpenCV"
I am GSSoC'21 participant and I want to work on this issue using python and opencv.
@geekquad  Kindly assign this to me?

[2021-05-11 11:11] ainy-123 opened #235 "Face mask detection using openCV"
I am GSSoC'21 Participant and I want to work on this issue.
Kindly assign me this issue. @geekquad @kritikaparmar-programmer

[2021-05-11 15:36] mansi75 opened #237 "Sobel edge detection using OpenCV"
**Is your feature request related to a problem? Please describe.**
Yes, to build a notebook for edge detection using sobel edge detector.

**Describe the solution you'd like**
Sobel edge detector python file along with the complete explanation.

**Describe alternatives you've considered**

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-05-11 15:40] mansi75 opened #238 "Riddler-calvard thresholding"
Image thresholding using riddler-calvard method, with complete explanation and python file.

[2021-05-11 18:01] geekquad commented on #237
Hey @mansi75, please check [here](https://github.com/geekquad/Image-Processing-OpenCV/blob/master/EdgeDetection/sobel_egde_detection.ipynb). It already exists.
Thankyou.

[2021-05-11 18:01] #237 closed, assigned to nobody

[2021-05-11 18:02] geekquad commented on #238
Hey @mansi75, go ahead.

[2021-05-11 19:23] RohiniRG commented on #58
@geekquad @kritikaparmar-programmer I would like to work on this issue, and I don't see any activity regarding this. Can I work on it?

[2021-05-11 19:42] RohiniRG opened #239 "Convex Hull"
I would like to work on script that shows the implementation of finding and drawing convex hull on images in opencv.

I am a participant of GSSOC'21

[2021-05-12 13:21] Ashishsingh619 opened #241 "I want to add eye detection script using open cv with live video processing"
I want to add an python script for eye detection using opencv in which i will use live video processing to captures frames and detect eyes of a person .
@geekquad Sir and @unnati914 maam please assign me with this issue.

[2021-05-12 19:18] mansi75 commented on #238
@geekquad kindly review
https://github.com/mansi75/Image-Processing-OpenCV/tree/master/Riddler-Calvard

[2021-05-12 19:29] mansi75 opened #242 "Image blending"
Kindly assign me image blending of two images using OpenCV.

[2021-05-12 19:32] mansi75 opened #243 "Gray level slicing without background"
Kindly assign me this

[2021-05-12 19:33] #242 closed

[2021-05-12 19:34] mansi75 opened #244 "Drawing geometerical shape using openCV"
Kindly assign me this.

[2021-05-12 20:26] noviicee commented on #14
Can I take this up if it is still open?
@geekquad  @kritikaparmar-programmer

[2021-05-12 20:30] noviicee commented on #56
@geekquad can I take up the Probabilistic Hough Line Transformation part..?

[2021-05-12 20:31] noviicee commented on #150
Is it still open..?
Can I take this up @geekquad ?

[2021-05-12 20:34] geekquad commented on #241
Hey @Ashishsingh619, we are not accumulating projects.
Just looking for the implementation of various Image Processing techniques and not their application.
If you know some which do not already exist, please feel free to create an issue.
If I missed out on something, feel free to reopen the issue.

[2021-05-12 20:34] #241 closed

[2021-05-13 04:59] ainy-123 commented on #120
Hello @geekquad ,I am GSSoC'21 participant. I want to work on this issue.
I will be using openCV library and deploying various functions to create transparent overlay and watermarked image and then customizing it to apply on our area of interest on a particular image.
Will you please assign this to me?

[2021-05-13 05:19] ainy-123 commented on #13
hello @geekquad ,I am GSSoC'21 participant. I want to work on this issue, as it's not assigned to anyone currently.
 will you please assign this to me?
Thanks !!

[2021-05-13 11:37] Ashishsingh619 opened #245 "Adding Script for All Image Blurring techniques"
### I want to add a Ipython script to demonstrate all Image blurring techniques like:
- Averaging Blur
-  Gaussian Blur
-  Median Blur
- Bilateral Filtering
@geekquad Sir and @unnati914 ma'am please assign me with this issue.

[2021-05-13 21:27] mansi75 commented on #217
@geekquad kindly check

[2021-05-14 23:22] geekquad commented on #239
Sure @RohiniRG, go ahead.

[2021-05-14 23:24] geekquad commented on #244
Hey @mansi75, go ahead.
Please run all the drawing functions in separate cells with proper headings.

[2021-05-14 23:25] geekquad commented on #243
Go ahead!

[2021-05-14 23:27] geekquad commented on #245
Hey @Ashishsingh619, isn't it the same as filtering?

[2021-05-15 05:50] mansi75 commented on #244
@geekquad
https://github.com/mansi75/Image-Processing-OpenCV/tree/master/Geometerical%20shapes
kindly check, it is completed.

[2021-05-15 06:36] mansi75 commented on #243
@geekquad
https://github.com/mansi75/Image-Processing-OpenCV/tree/master/Gray_level_slice_without_background
kindly check.

[2021-05-15 06:47] mansi75 opened #249 "Color slicing using color spaces"
KIndly assign me this.

[2021-05-15 06:49] mansi75 opened #250 "Word/Text detection using openCV"
Kindly assign me this topic.

[2021-05-15 10:08] Ashishsingh619 commented on #245
Yes @geekquad Sir it is but all issues for filtering techniques are closed, So I wanted to implement this and the issue of averaging Blur Technique is not even raised by any participant. So I wanted to implement them.

[2021-05-15 15:02] #150 closed

[2021-05-15 15:04] iamakkkhil commented on #218
@geekquad can I work on this ??

[2021-05-15 20:43] geekquad commented on #218
Sure @iamakkkhil, go ahead.

[2021-05-15 20:43] #250 closed

[2021-05-15 20:44] geekquad commented on #245
Go ahead with averaging Blur Technique for now.
Let me have a look at the remaining others and I will let you know.

[2021-05-15 20:45] geekquad commented on #249
Please describe more!

[2021-05-15 20:52] geekquad commented on #120
Hey @ainy-123, will it be a project/mini project?
Or will it be an implementation of the technique?

[2021-05-16 00:12] ainy-123 commented on #120
I think,It will be kind of a mini project.

[2021-05-16 00:52] ainy-123 commented on #120
It will be an implementation of the technique ,as after implementation it can be used in whatever project,we want.

[2021-05-16 05:27] Ashishsingh619 opened #251 "I want to Implement Image Stitching"
### I want to add Ipython script for image stitching where I will take 2 - 3 images and stitch them.
@geekquad Sir and @unnati914 ma'am Please assign me this issue

[2021-05-16 05:35] mansi75 commented on #249
@geekquad It is segmenting of an object from an image based on colors using OpenCV.

[2021-05-16 18:49] mansi75 commented on #249
@geekquad kindly check the pr #236 also.

[2021-05-17 11:43] Ashishsingh619 opened #252 "Image cropping methodology"
## I want to add Ipython script to show image cropping method, where  a image cropped  in various way to show how cropping happens.
@geekquad sir and @unnati914 ma'am please assign me with this issue

[2021-05-18 06:03] noviicee commented on #52
Is this issue still open? @geekquad

[2021-05-18 07:48] RohiniRG opened #254 "Bitwise operations in OpenCV"
The implementation and demonstration of various bitwise operations  like AND, OR, NOT, XOR  performed on images using opencv.

I am a GSSOC'21 participant and would like to work on this issue.

[2021-05-18 07:50] RohiniRG commented on #254
@geekquad @kritikaparmar-programmer please assign me this issue

[2021-05-19 05:30] geekquad commented on #254
Sure @RohiniRG, go ahead.

[2021-05-19 06:20] geekquad commented on #252
Go ahead @Ashishsingh619.

[2021-05-19 06:21] #251 closed

[2021-05-19 06:24] geekquad opened #256 "Affine Transformation"
A README file for the same strictly following [Documentation Issue Guidelines](https://github.com/geekquad/Image-Processing-OpenCV/issues/137)

[2021-05-19 08:31] Ashishsingh619 commented on #251
@geekquad Sir can you say me why its label duplicate I cant see any issue raised with image stitching as such

[2021-05-19 11:02] mansi75 opened #257 "Laplacian Transformation on the image"
Laplacian Operator is also a derivative operator. It is a second order derivative mask. In this mask we have two further classifications one is Positive Laplacian Operator and other is Negative Laplacian Operator. Kindly assign me to implement laplacian transformation on images using openCV.

[2021-05-19 11:04] mansi75 opened #258 "Gamma Correction using openCV"
This can be used to restore the faded pictures to their previous depth of color using gamma correction in OpenCV and its various other uses. Kindly, assign me this.

[2021-05-19 11:05] mansi75 commented on #249
Kindly check above, I have described about it.

[2021-05-19 11:20] mansi75 opened #259 "Contrast stretching using Piecewise-Linear Transformation Functions in openCV"
This process expands the range of intensity levels in an image so that it spans the full intensity of the camera or display using OpenCV. Please Kindly assign me this.

[2021-05-19 11:40] mansi75 opened #260 "scharr for image gradient using openCV"
Image gradient using scharr in OpenCV. Kindly assign me this.

[2021-05-19 19:24] geekquad opened #263 "Image Pyramiding"
Implementation of Image Pyramiding technique.

[2021-05-19 19:28] geekquad opened #264 "Image Pyramiding Documentation"
Documentation of the same strictly following this [template](https://github.com/geekquad/Image-Processing-OpenCV/issues/137).

[2021-05-19 19:32] geekquad opened #265 "Color Detection Readme"
Documentation of the same strictly following this [template](https://github.com/geekquad/Image-Processing-OpenCV/issues/137).

[2021-05-19 19:33] geekquad opened #266 "Camshift Algorithm"
Implementation of Camshift Algorithm.

[2021-05-19 19:39] geekquad opened #267 "Median Filtering"
Implementation of the same.

[2021-05-20 00:02] Ashishsingh619 commented on #267
@geekquad Sir can you assign this issue to me as I have knowledge about it and I want to apply it by solving this issue.

[2021-05-20 00:03] Ashishsingh619 commented on #263
@geekquad Sir can you assign this issue to me as I have good knowledge about this technique

[2021-05-20 03:17] #183 closed

[2021-05-20 03:17] #33 closed

[2021-05-20 03:37] Saptar001 commented on #266
Hello @geekquad I want to work on this issue, could you please assign me.

Thank You :)

[2021-05-20 03:49] geekquad commented on #263
Assigning it to you.
Please mention the issue number in the description while making a PR.

[2021-05-20 03:49] geekquad commented on #266
Assigning it to you.
Please mention the issue number in the description while making a PR.

[2021-05-20 03:49] geekquad commented on #267
Assigning it to you.
Please mention the issue number in the description while making a PR.

[2021-05-20 03:53] #258 closed

[2021-05-20 03:53] geekquad commented on #259
Go ahead. Assigning it to you.
Please mention the issue number in the description while making a PR.
Name the folder as ```PiecewiseLinearTransformation```.

[2021-05-20 03:56] geekquad commented on #260
Go ahead.

[2021-05-20 03:58] geekquad commented on #257
Is it an edge detection technique?

[2021-05-20 04:03] geekquad opened #268 "Edge Detection Documentation"
Need proper README for the following:

- [ ] [Canny Edge Detection](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/EdgeDetection/CannyEdgeDetection)

- [ ] [Prewitt Edge Detection](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/EdgeDetection/PrewittEdgeDetection)

- [ ] [Sobel Edge Detection](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/EdgeDete

[2021-05-20 04:16] geekquad opened #269 "Implementation o techniques"
Implementation of the following Image Processing Techniques:

- [ ] [Template Matching](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/TemplateMatching)

- [ ] [FLANN Matcher](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/FlannFeatureMatcher)

- [ ] [Sift Algorithm](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/SiftAlgorithm)

- [ ] [Meanshift A

[2021-05-20 06:58] mansi75 commented on #257
Yes, it is.

[2021-05-20 07:22] mansi75 opened #271 "Log Transformation on image"
Log transformation maps a narrow range of low-intensity input values to a wide range of output values.
Kindly, assign me this issue.

[2021-05-20 07:26] mansi75 opened #272 "Gray level slicing with Background"
Image enhancement in the spatial domain.
Kindly, assign me this issue.

[2021-05-20 11:09] Ashishsingh619 commented on #252
@geekquad sir in which folder should i push the code

[2021-05-20 14:02] ainy-123 commented on #269
I am GSSoC'21 participant .I want to work on this issue.
Will you please assign this to me?

[2021-05-20 17:52] #219 closed

[2021-05-20 17:55] iamakkkhil commented on #269
I would like to work on FLANN matcher.
Kindly assign the same to me @geekquad

[2021-05-20 17:57] geekquad commented on #269
Hey @ainy-123, please ask for only 2 in this so that others also get a chance to contribute.

Hey @iamakkkhil, awaiting her response.

[2021-05-20 18:01] iamakkkhil opened #273 "Contours Hierarchy"
This script will demenostrate about the hierarchy of contours, i.e. the parent-child relationship in Contours, and what does cv.RETR_LIST or cv.RETR_TREE means in cv.findContours() function.

I would like to work on this issue kindly assign me the same @geekquad

[2021-05-20 18:07] iamakkkhil opened #274 "Blob Detection"
This script will implement cv2.SimpleBlobDetector() from Open CV to detect blobs based on connected pixels in an image that share some common property

I would like to work on this issue kindly assign me the same @geekquad

[2021-05-20 18:10] ainy-123 opened #275 "Implementation of morphological transformation techniques"
Implement Morphological Transformations for images like

1.Erosion
2.Dilation
3.Opening
4.Closing

[2021-05-20 18:11] ainy-123 commented on #275
I am GSSoC'21 participant and I want to work on this issue.
Kindly assign this to me.

[2021-05-20 18:12] geekquad commented on #273
Go ahead @iamakkkhil.

[2021-05-20 18:13] geekquad commented on #274
Go ahead.

[2021-05-20 18:14] ainy-123 commented on #269
sure.If only two are allowed for one person,then I would like to work on sift and meanshift algorithm.

[2021-05-20 18:14] geekquad commented on #275
Go ahead @ainy-123.
PLease make specific folders for each one of them.

[2021-05-20 18:15] ainy-123 commented on #275
thanks for assigning.

[2021-05-20 18:18] geekquad commented on #272
Assigning you with the same.
Please make a folder named ```GreyLevelSlicing```.
Cut the folder name ```GrayLevelSlicingWithoutBackground``` and paste them inside.

The directory should look like this:

[2021-05-20 18:19] geekquad commented on #271
Go ahead.

[2021-05-20 18:20] geekquad commented on #252
Make a folder named ```ImageCropping```.

[2021-05-20 18:22] geekquad commented on #257
Go ahead.
Folder should be inside [EdgeDetection](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/EdgeDetection) folder.

[2021-05-20 18:25] geekquad commented on #56
Go ahead @noviicee.

[2021-05-20 18:27] geekquad commented on #13
Go ahead @ainy-123.

[2021-05-20 18:30] ainy-123 opened #276 "implementation of different techniques for adjusting contrast in images."
1. Histogram Equalization.
2. CLHE

[2021-05-20 18:30] ainy-123 commented on #276
I am GSSoC'21 participant and I want to work on this issue.
kindly assign me this issue.

[2021-05-20 18:35] ainy-123 commented on #276
yes yes.Sorry for typo.

[2021-05-20 18:47] #259 closed

[2021-05-20 19:30] abalmumcu commented on #257
Hey @mansi75, sorry for getting a pull request on your work. There is a misunderstanding. Have a nice day

[2021-05-21 00:28] geekquad commented on #276
Hey @ainy-123, Histogram matching already exists.
You can go ahead with CLAHE technique.

[2021-05-21 02:17] ainy-123 commented on #276
Ok

[2021-05-21 06:23] mansi75 opened #279 "Bilateral blur using openCV"
Application of bilateral blur on images using openCV.
Kindly, assign me this issue.

[2021-05-21 09:35] RohiniRG commented on #269
I would like to work on template matching in OpenCV @geekquad

[2021-05-21 12:30] Saptar001 commented on #265
Hello @geekquad  could you please kindly assign me this issue, as I want to work on this documentation.

Also, mention the folder in which I have to make the changes or add the documentation.

Thank You :)

[2021-05-21 13:08] Komal-99 commented on #256
Hi I am gssoc'21 participant and would like to work on this issue

[2021-05-21 13:09] Komal-99 commented on #264
Hi ( I am gssoc'21 participant and would to work on this issue

[2021-05-21 13:14] Komal-99 commented on #268
Hi, I am gssoc'21 participant kindly assign this issue to me i would like to make readme for them. But a request to you if possible can you increase PR level as in this issue its has 3 readme to be updated so it will be very thankful is  level can be changed as per work

[2021-05-21 14:40] geekquad commented on #256
Go ahead @Komal-99. Do mention the issue number in the PR.

[2021-05-21 14:40] geekquad commented on #264
Go ahead @Komal-99. Do mention the issue number in the PR.

[2021-05-21 14:41] geekquad commented on #265
Hey @Saptar001, go ahead.
Add the documentation in [this](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/ColorDetection) folder.

[2021-05-21 14:43] geekquad commented on #268
Hey @Komal-99, go ahead. Do mention the issue number in the PR made.
Make three different branches for each one of them and make a PR so that they will be counted as 3.
Ping me on Discord if you have any issues/queries.

[2021-05-21 14:44] geekquad commented on #269
Hey @RohiniRG, go ahead.

[2021-05-21 14:46] geekquad commented on #279
Hey @mansi75, it already exists.
Please check [here](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/ImageSmoothing).

[2021-05-21 14:46] #279 closed

[2021-05-21 14:52] Komal-99 commented on #268
Okay thanks

[2021-05-21 16:19] subhangi2731 commented on #239
@geekquad can i work on this

[2021-05-21 16:20] subhangi2731 commented on #243
@geekquad please assign me this issue

[2021-05-21 16:58] geekquad commented on #268
Yes @Komal-99.

[2021-05-21 16:59] geekquad commented on #243
Hey @subhangi2731, it has already been assigned and a PR is already been made.
Will be opening more Documentation issues soon. Keep an eye.

[2021-05-21 17:02] geekquad commented on #239
Hey @RohiniRG, any updates?

[2021-05-21 17:10] RohiniRG commented on #239
PR will be up by tonight

[2021-05-21 19:09] ainy-123 opened #288 "Laplacian Filtering."
Implementation of the same.

[2021-05-21 19:10] ainy-123 commented on #288
@geekquad I am GSSoC'21 participant and I want to work on this issue. Kindly assign this to me.

[2021-05-21 19:26] mansi75 opened #289 "Feature Matching using openCV"
Feature matching can be used to match feature to find similar objects/patterns present in different images.
Kindly assign me this issue.

[2021-05-21 19:43] ainy-123 opened #290 "Implementing Different techniques for image filtering"
- [1]  Sobel-x
- [2]  Sobel-y
- [3]  gaussian
- [4]  bilateral

[2021-05-21 19:44] ainy-123 commented on #290
I am GSSoC'21 participant and I want to work on this issue.
Kindly assign this to me. @geekquad

[2021-05-21 19:45] #290 closed

[2021-05-21 19:46] #288 closed

[2021-05-21 19:46] #289 closed

[2021-05-21 20:20] mansi75 opened #291 "Scale Invariant Feature Transform using openCV"
Scale Invariant Feature Transform in openCV helps to find keypoints in an image.
Please kindly assign me this.

[2021-05-22 03:01] geekquad commented on #291
Hey @mansi75, please take a look at the issues and already existing files before opening an issue.
It already exists. Have a look [here](https://github.com/geekquad/Image-Processing-OpenCV/issues/269).

[2021-05-22 03:01] #291 closed

[2021-05-22 03:13] #188 closed

[2021-05-22 04:01] #218 closed

[2021-05-22 05:46] mansi75 opened #292 "Speeded-Up Robust Features using openCV"
The convolution with box filter can be done in parallel for different scales in Speeded-up robust features using openCV.
Kindly assign me this.

[2021-05-22 06:15] geekquad commented on #292
@mansi75 **DONT SPAM**.
This will not be tolerated.
**DO NOT** create issues that already exist.

[2021-05-22 06:15] #292 closed

[2021-05-22 07:27] ainy-123 opened #294 "Image Zooming"
Implementation of the same using opencv.

[2021-05-22 07:27] ainy-123 commented on #294
I am GSSoC'21 participant and I want to work on this issue.
Kindly assign this to me. @geekquad

[2021-05-22 07:29] ainy-123 opened #295 "Image Scaling"
Implementaion of the same using opencv.

Hey @geekquad .I want to work on this issue under GSSoC'21.
Will you please assign this to me?

[2021-05-22 07:48] geekquad commented on #295
Go ahead @ainy-123.
The folder should be inside [ImageResize](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/ImageResize).

[2021-05-22 07:48] geekquad commented on #294
Go ahead @ainy-123.
The folder should be inside [ImageResize](https://github.com/geekquad/Image-Processing-OpenCV/tree/master/ImageResize).

[2021-05-22 14:33] sherin527 opened #297 "Implementing Image pixelation using open cv"
@geekquad, please assign me this issue, I want to implement this image processing technique. I'm a gssoc 21 participant.

[2021-05-22 15:02] Komal-99 commented on #268
kindly assign it to me as a gssoc participant it is needed to get issue  assign

[2021-05-22 16:51] geekquad commented on #297
Sure @sherin527. Go ahead.

[2021-05-22 18:49] geekquad commented on #249
Go ahead @mansi75.

[2021-05-22 18:53] mansi75 opened #301 "Image registration using openCV"
Digital image processing technique which helps us align different images of the same scene. Kindly assign me this.

[2021-05-22 18:59] mansi75 opened #302 "Pencil sketch using OpenCV"
Pencil sketch on images using openCV. Kindly, assign me this.

[2021-05-22 22:56] ainy-123 opened #303 "Image shearing"
Implementation of the same using opencv.

@geekquad I want to  work on this issue under GSSoC'21.
Kindly assign this to me.

[2021-05-22 22:58] ainy-123 opened #304 "Image Flipping"
Implementation of the same using opencv.

@geekquad,I see, Its not present in the folders. I want to  work on this issue under GSSoC'21.
Kindly assign this to me.

[2021-05-23 04:16] Ashishsingh619 opened #305 "i want to implemnet Nearest neighbor interpolation"
In this technique i will use nearest neighbor interpolation to resize image @geekquad Sir please assign me this isue

[2021-05-23 04:18] Ashishsingh619 opened #306 "I want to implement Bilinear interpolation"
I want to use the Bilinear interpolation technique to resize image @geekquad sir and @unnati914 ma'am please assign me this issue.

[2021-05-23 05:59] ainy-123 opened #307 "Image Negation"
Implement a method to negate images i.e., reverse the pixel values for any image processed by it.

[2021-05-23 06:00] ainy-123 commented on #307
hey @geekquad ,I want to work on this issue under GSSoC'21. Kindly assign this issue to me.

[2021-05-23 06:12] ainy-123 opened #308 "Image Rotation"
Implementation of the same using opencv.

[2021-05-23 06:12] ainy-123 commented on #308
hey @geekquad ,I want to work on this issue under GSSoC'21. Kindly assign this issue to me.

[2021-05-23 06:52] ainy-123 commented on #308
sorry,Its already implemented there.

[2021-05-23 06:53] #308 closed

[2021-05-23 07:42] ainy-123 commented on #107
Hey @geekquad ,can I work on this issue? It seems assignee is inactive for a long time.
If anyone is not working on this issue, kindly assign this to me.

[2021-05-23 08:37] ainy-123 opened #311 "Image shrinking"
Implementation of the same using opencv.

[2021-05-23 08:38] ainy-123 commented on #311
I want to work on this issue under GSSoC'21. Kindly assign this issue to me. @geekquad

[2021-05-23 16:32] A-kriti opened #312 "Histogram Equalization Method for Image Contrast Adjustment"
**Is your feature request related to a problem? Please describe.**
Images captured in dim light mostly have not much better contrast so an (Image Contrast increasing filter) filter helps accordingly to adjusts and increase its contrast and hence having a better version of the image.

**Describe the solution you'd like**
Using histogram equalization method to adjust the contrast by using some of th

[2021-05-23 18:29] iamakkkhil opened #314 "Watershed Algorithm with custom seeds"
This script will implement the watershed algorithm with custom seeds which will fill automatically fill surrounding areas with the same segmentation class.

@geekquad  I would like to work on this issue kindly assign me the same.

[2021-05-23 18:33] iamakkkhil opened #315 "Gradients in OpenCV"
Implementation of gradients in opencv by using cv2.sobel() function

@geekquad i would like to work on this issue kindly assign me the same

[2021-05-23 18:48] RohiniRG opened #317 "Grid Detection in OpenCV"
This script will be showing the detection of grid-based patterns found in an image using OpenCV methods.
I am a GSSOC'21 participant and would like to work on this issue.

[2021-05-23 18:51] iamakkkhil opened #318 "KNN based Feature Matching with Sift and ORB detectors"
This script will implement KNN based Feature Matching with SIFT and ORB detectors and also showing a difference in both the detectors.
@geekquad I would like to work on this issue kindly assign me the same.

[2021-05-23 19:04] RohiniRG opened #319 "Arithmetic Operation in Open CV"
Arithmetic operations like adding and subtracting images by using Open CV

I am a GSSOC'21 Participant and I would like to work on this issue.

[2021-05-24 00:36] geekquad commented on #319
Hey @RohiniRG, it already exists.

[2021-05-24 00:36] #319 closed

[2021-05-24 00:39] geekquad commented on #303
Go ahead @ainy-123.

[2021-05-24 00:41] geekquad commented on #304
Go ahead @ainy-123.

[2021-05-24 00:41] geekquad commented on #307
Already exists.

[2021-05-24 00:41] #307 closed

[2021-05-24 00:45] geekquad commented on #305
Go ahead @Ashishsingh619.

[2021-05-24 00:47] geekquad commented on #306
Go ahead @Ashishsingh619.

[2021-05-24 00:48] geekquad commented on #312
Go ahead @A-kriti.

[2021-05-24 00:48] geekquad commented on #314
Go ahead @iamakkkhil.

[2021-05-24 00:49] geekquad commented on #315
Hey @iamakkkhil, it already exists.

[2021-05-24 00:49] #315 closed

[2021-05-24 00:50] geekquad commented on #317
Already exists.

[2021-05-24 00:50] #317 closed

[2021-05-24 04:20] RohiniRG opened #321 "Image sharpening techniques"
Various methods to image sharpening such as filter2D, unsharp mask, custom kernel and so on.
I am a GSSOC participant and I would like to work on this issue.

[2021-05-24 12:59] #301 closed

[2021-05-24 14:37] ras-29 commented on #140
Hello @geekquad. I would like to work on Optical flow, implementing Lucas-Kanade and Gunner Farneback's algorithm. I request you to assign this topic to me.
Thank you.

[2021-05-24 23:36] sherin527 commented on #297
@geekquad, you didn't mention any label for level.

[2021-05-25 00:53] #254 closed

[2021-05-25 01:00] geekquad commented on #297
Will do it in the PR itself!

[2021-05-25 01:09] geekquad commented on #321
Go ahead @RohiniRG.

[2021-05-25 01:42] geekquad commented on #318
Hey @iamakkkhil, SIFT and ORB are already implemented.
How will this make a difference?

[2021-05-25 04:49] mansi75 opened #325 "Montages using OpenCV"
Building Montages using OpenCV. Kindly, assign me this.

[2021-05-25 05:49] ainy-123 opened #326 "Implementation of technique for Adjusting Brightness of an image."
I am GSSoC'21 participant. I want to work on this issue.
Kindly assign this to me. @geekquad

[2021-05-25 06:03] mansi75 opened #327 "Color transfer between images using openCV"
Color transfer between two images using openCV.

[2021-05-25 06:07] #326 closed

[2021-05-25 06:10] ras-29 opened #328 "Grid detection"
I would like to work on this topic, implementing cv2.findChessboardCorners() and cv2.findCirclesGrid() functions. I request you to assign this to me.
![Screenshot (591)](https://user-images.githubusercontent.com/78521234/119617984-03fbda00-be20-11eb-99f2-7ddcdcde384e.png)

[2021-05-25 08:27] ainy-123 opened #330 "Splitting and merging channels of a color image."
Implementation of the same using opencv.

[2021-05-25 08:28] ainy-123 commented on #330
I want to work on this issue under GSSoC'21.Kindly assign this to me . @geekquad

[2021-05-25 15:56] sherin527 commented on #297
@geekquad, where should I add this implementation part?

[2021-05-25 15:57] geekquad commented on #297
Make a folder with the name ```ImagePixelation```

[2021-05-26 04:51] #274 closed

[2021-05-26 04:53] #264 closed

[2021-05-26 05:19] A-kriti opened #335 "Pepper Effect Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Pepper Effect Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Pepper Effect Filter". ( OpenCV, Matplotlib, Os, PIL, and NumPy)

**Final Output**
![Screenshot (419)](https://user-images.githubusercontent.com/73133055/119606308-f9394900-be0f-11eb-8bd3-4de64fed044f.png

[2021-05-26 14:26] noviicee commented on #56
Thanks @geekquad
Created a PR regarding the same..
also, I see that Hough Line transformation is not added, can I take up that part too..?

[2021-05-26 14:38] Saptar001 opened #338 "Image Stitching"
Hello @geekquad , I want to work on this issue Image Stitching .
Could you please kindly assign me the same.

[2021-05-26 15:27] swathika1 opened #339 "Image pixel processing"
**Is your feature request related to a problem? Please describe.**
Encoding and decoding message from image pixels.

**Describe the solution you'd like**
Processing an image to conceal secret messages in images, making use of an ordinary image where a secret message can be hidden among the pixels of the picture. The modified image can be decoded to obtain the original message again.

**Describe al

[2021-05-27 01:35] #56 closed

[2021-05-27 02:14] geekquad commented on #339
Hey @swathika1, which Image Processing technique will you be using here?

[2021-05-27 02:15] geekquad commented on #338
Go ahead @Saptar001.
Please make a different branch for it.

[2021-05-27 02:16] geekquad commented on #335
Which Image Processing technique will you be using (describe focusing on OpenCV)?

[2021-05-27 02:18] geekquad commented on #330
Please describe more!

[2021-05-27 02:19] #311 closed

[2021-05-27 02:24] ainy-123 commented on #330
The implementation will be like, given a color image  and We want to analyse the amount of different color components in different regions .
For example, If it is a n RGB image, We will  output 3 images out of it, one having only Red color in it with different intensities in different region, similarly for blue and green.
This is the splitting part and the opposite of it will be merging one.

[2021-05-27 02:28] geekquad commented on #328
Hey @ras-29, it has already been implemented.
Please look out for more. Thankyou.

[2021-05-27 02:28] #328 closed

[2021-05-27 03:19] Saptar001 commented on #338
yes @geekquad , sure !

[2021-05-27 04:09] Saptar001 opened #340 "Camshift Implementation Readme"
Hello @geekquad could you please kindly assign me this issue.

Thank You :)

[2021-05-27 05:04] A-kriti commented on #335
In this, I am adding noise to the image by using a function that actually takes 2 parameters 1st is the image and the other 1 is probability and in this function i am generating a random number and comparing it with the probability taken and according to that adding noise to it finally making it a pepper effect image.

[2021-05-27 05:44] swathika1 commented on #339
@geekquad I will be using the PIL (Python Imaging Library) to convert image to RGBA(red-green-blue-alpha), obtain and manipulate its pixels with the text message.

[2021-05-27 07:49] ras-29 opened #343 "Splash filter"
**Is your feature request related to a problem? Please describe.**
I would like to implement a "splash filter". In this filter, a specific color is detected and masked, the rest of the image is grayscaled.

**Describe the solution you'd like**
To achieve this, concepts used are color detection, masking, and bitwise operations on the images.

**Output**
![Screenshot (594)](https://user-images.githu

[2021-05-27 15:56] ainy-123 commented on #132
hey @geekquad ,Can I work on this issue under GSSoC'21?

[2021-05-27 16:17] ainy-123 commented on #86
Can I work on this under GSSoC'21?

[2021-05-27 19:12] mansi75 opened #351 "Panorama effect using OpenCV"
Panorama effect using OpenCV. Kindly, assign this

[2021-05-28 05:24] A-kriti opened #352 "Pirates Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Pirates Filter" on an image.

**Describe the solution you'd like**
Using python libraries to Implement a "Pirates Filter". ( OpenCV and Matplotlib)

**Final Output context**
![image](https://user-images.githubusercontent.com/73133055/119840999-114dbd00-bf23-11eb-9a7d-2d82fa17ce61.png)

[2021-05-28 05:28] #266 closed

[2021-05-28 05:28] #340 closed

[2021-05-28 05:29] #265 closed

[2021-05-28 05:37] geekquad commented on #352
Not accumulating any proejcts.
Focus more on the techniques rather than their applications.

[2021-05-28 05:37] #352 closed

[2021-05-28 05:39] geekquad commented on #343
Hey @ras-29, is it more of a mini project?

[2021-05-28 05:39] geekquad commented on #335
Hey @A-kriti, not looking for any sort of filters.
The focus is to have technique implementation and the ones you mentioned are already here.

[2021-05-28 05:39] #335 closed

[2021-05-28 05:40] #140 closed

[2021-05-28 05:41] geekquad commented on #107
Hey @ainy-123, not needed right now as we are not accepting any projects for now.

[2021-05-28 05:41] #107 closed

[2021-05-28 05:41] A-kriti commented on #335
okay

[2021-05-28 05:42] geekquad commented on #86
Go ahead @ainy-123.

[2021-05-28 05:43] geekquad commented on #132
@ainy-123 already implemented,

[2021-05-28 05:43] #132 closed

[2021-05-28 06:36] ras-29 commented on #343
@geekquad yes sir, incorporating 3 basic concepts to get this effect.

[2021-05-28 07:25] swathika1 opened #353 "Facial Features detection using OpenCV"
**Is your feature request related to a problem? Please describe.**
Facial features such as eyes, eyebrows, mouth and jaw detection.

@geekquad Please assign this to me if u approve!
Opening this issue as GSSOC' 21 participant.

[2021-05-28 19:20] #339 closed

[2021-05-28 20:28] manisha-27 opened #357 "Kidney_Stone_Detection"
Kidney Stone Detection using opencv and many other features.

[2021-05-29 06:57] #351 closed

[2021-05-29 07:29] mansi75 opened #359 "Document scanner using OpenCV"
Image scanner using OpenCV

[2021-05-29 07:32] #359 closed

[2021-05-29 07:32] mansi75 opened #360 "Document scanner using OpenCV"
Document scanner using OpenCV

[2021-05-29 07:33] mansi75 opened #361 "Saliency detection using OpenCV"
Saliency detection using OpenCV

[2021-05-29 10:18] geekquad commented on #361
Go ahead.

[2021-05-29 10:19] geekquad commented on #360
Not accepting any projects.

[2021-05-29 10:19] #360 closed

[2021-05-29 10:19] geekquad commented on #357
Hey @manisha-27, we are not looking for any kind of projects/mini-projects.

[2021-05-29 10:19] #357 closed

[2021-05-29 10:21] geekquad commented on #343
Hey @ras-29, the 3 techniques you have mentioned are already been implemented and we are not looking for any projects/mini-proejcts.

[2021-05-29 10:21] #343 closed

[2021-05-29 10:23] geekquad commented on #353
hey @swathika1, not accepting any kind of projects/mini-projects.
Please do look out for any techniques you can contribute with.
Thankyou.

[2021-05-29 10:23] #353 closed

[2021-05-29 10:23] geekquad commented on #327
Go ahead @mansi75.

[2021-05-29 10:48] swathika1 commented on #353
@geekquad Its not a mini project its just a technique to obtain the face features.
for example:
input
![image](https://user-images.githubusercontent.com/66555276/120067424-28aeb680-c099-11eb-8237-3378eb4f4f4e.png)

output
![image](https://user-images.githubusercontent.com/66555276/120067428-2ea49780-c099-11eb-9c27-8e4ba2bc1857.png)

[2021-05-29 11:11] Komal-99 commented on #256
hi  Pr for this issue has been merged kindly close this issue , Sorry i forgot to mention issue number in PR

[2021-05-29 11:19] swathika1 opened #364 "sketch image technique using OpenCV"
**Is your feature request related to a problem? Please describe.**
Convert an image to produce a pencil sketch.

![image](https://user-images.githubusercontent.com/66555276/120069938-1f781680-c0a6-11eb-82bc-69b791fbcca9.png)

![image](https://user-images.githubusercontent.com/66555276/120069942-243cca80-c0a6-11eb-9a57-2c3be0d52f26.png)

(this is not similar to image cartoonification)
@geekquad

[2021-05-29 12:27] Ashishsingh619 opened #366 "I want to implement Bicubic interpolation"
I want to use the Bicubic interpolation technique to resize image @geekquad  sir and @unnati914  ma'am please assign me this issue.

[2021-05-29 13:32] ainy-123 commented on #131
Hey @geekquad ,I want to work on this issue. Will you please assign this to me?

[2021-05-29 17:48] geekquad commented on #353
So which Image processing techniques will you be using here?

[2021-05-29 17:49] geekquad commented on #364
We’re not looking for it. Please see if you can contribute to something else.
Thankyou.

[2021-05-29 17:49] #364 closed

[2021-05-29 17:51] geekquad commented on #366
Go ahead @Ashishsingh619.

[2021-05-29 18:19] swathika1 commented on #353
@geekquad  By using openCV along with the dlib, that gives 68 (x, y)-coordinates that map to specific facial structures.

[2021-05-29 19:30] mansi75 opened #370 "Image padding using OpenCV"
Image padding using openCV

[2021-05-29 19:37] mansi75 opened #371 "High Dynamic Range Imaging using OpenCV"
HDRI using OpenCV based on exposure.

[2021-05-29 19:41] mansi75 opened #372 "ORB implementation on images using OpenCV"
ORB algorithm is a better alternative for SURF and SIFT.

[2021-05-29 19:45] mansi75 opened #373 "Epipolar geometry of images using OpenCV"
Epipolar geometry of images in multiview using openCV.

[2021-05-29 20:06] mansi75 opened #374 "Sepia effect on images using OpenCV"
Sepia effect on images using OpenCV

[2021-05-29 20:09] mansi75 opened #375 "Image inpainting using OpenCV"
Image inpainting using OpenCV

[2021-05-29 20:11] mansi75 opened #376 "Colorizing black and white images with OpenCV"
Colorizing black and white images with OpenCV

[2021-05-29 20:13] mansi75 opened #377 "Text skew correction with OpenCV"
Text skew correction with OpenCV

[2021-05-29 20:16] mansi75 opened #378 "center of contour detection using OpenCV"
center of contour detection using openCV

[2021-05-30 04:11] Saptar001 opened #379 "Image Stitching Readme"
Hello @geekquad , I want to work on the documentation of the Image Stitching Readme file.

Kindly assign me the above.
Thank You :)

[2021-05-30 05:29] akshaypk123 commented on #268
Iam a gssoc participant kindly assign me on this issue

[2021-05-30 05:45] Komal-99 commented on #268
@akshaypk123  i am working over this issue

[2021-05-30 08:08] ainy-123 commented on #63
@geekquad ,Can I work on this issue?

[2021-05-30 08:09] ainy-123 commented on #52
@geekquad , Can I work on this issue under GSSoC'21?

[2021-05-30 08:23] noviicee commented on #52
I think this one is not required at the current time!

[2021-05-30 11:00] Ashishsingh619 commented on #306
@geekquad Sir i cant do this issue please assign it to some other participant please.

[2021-05-30 11:01] sherin527 commented on #306
@geekquad sir, Can I take up this issue?.. I want to implement this. I'm a gssoc'21 participant.

[2021-05-30 11:23] Ashishsingh619 commented on #366
@geekquad sir i cant do this issue please assign it to some other Gssoc participant.

[2021-05-30 11:27] sherin527 commented on #366
@geekquad sir, could you assign this issue to me as well, I'm a GssoC participant. I want to implement this.

[2021-05-30 14:51] #273 closed

[2021-05-30 16:46] geekquad commented on #306
Go ahead @sherin527.

[2021-05-31 06:25] geekquad commented on #353
Hey @swathika1, please go through the project description.
We are focusing on ```Open-CV``` and as such usage of any other Image Processing library is not allowed.

[2021-05-31 14:42] geekquad commented on #373
Go ahead @mansi75.

[2021-05-31 14:43] geekquad commented on #370
Go ahead @mansi75.
Each PR should be on a different branch.

[2021-05-31 14:45] geekquad commented on #366
Go ahead @sherin527.

[2021-05-31 14:46] geekquad commented on #378
Go ahead @mansi75.

[2021-06-01 11:10] #226 closed

[2021-06-02 03:40] iamakkkhil commented on #314
@geekquad let me know for any changes

[2021-06-02 05:36] #338 closed

[2021-06-02 05:38] #379 closed

[2021-06-02 06:41] ras-29 opened #385 "Image Inpainting"
Inpainting is the process of removing damage, such as noises, strokes, or text, on images using the cv2.inpaint() function.

[2021-06-06 16:36] #314 closed

[2021-06-06 16:36] #318 closed

[2021-06-16 09:58] ELITA04 opened #386 "Homography Implementation"
Hi @geekquad,
I would like to work on creating a minimal implementation of Homography.

[2021-06-16 09:59] geekquad commented on #386
Go ahead!

[2021-06-26 09:29] Sukriti-sood opened #387 "Collage Maker"
Hi @geekquad I would like to add minimal collage maker using open cv.

[2021-07-02 21:12] geekquad commented on #387
Hey @Sukriti-sood, not accepting any projects. We are focusing more on the techniques here.
Feel free to add any Image Processing technique :)

[2021-07-02 21:12] #387 closed, assigned to nobody

[2021-08-19 14:00] #73 closed

[2021-08-23 22:31] aryasoni98 commented on #385
Could I work on this?
Same issue #375 @geekquad sir

[2021-08-23 22:47] aryasoni98 commented on #376
Could I work on this?

[2021-08-23 22:48] aryasoni98 commented on #372
Could I work on this?

[2021-08-23 22:50] aryasoni98 commented on #370
Could I work on this?

[2021-08-24 13:23] geekquad commented on #385
Go ahead @aryasoni98.

[2021-08-24 13:24] geekquad commented on #370
Hey @aryasoni98, it has already been implemented.

[2021-08-24 13:24] #370 closed

[2021-08-24 13:24] geekquad commented on #372
Already implemented @aryasoni98.

[2021-08-24 13:24] #372 closed

[2021-08-24 21:58] aryasoni98 opened #389 "Create .gitignore File"

[2021-08-25 05:14] geekquad commented on #389
What is this for?

[2021-08-25 06:59] aryasoni98 commented on #389
.gitignore file is to allow you to ignore files, such as editor backup files, build products or local configuration overrides that you never want to commit into a repository.

[2021-08-25 12:45] geekquad commented on #389
Not needed right now.

[2021-08-25 12:45] #389 closed, assigned to nobody

[2021-08-29 07:57] Ayushparikh-code commented on #325
can i work for this issue ?

[2021-09-28 16:29] aryasoni98 commented on #386
I would like to work on it !

[2021-10-04 06:30] PritKalariya commented on #302
I'd like to work on this issue (Pencil Sketch on images using OpenCV).

Please assign me.

[2021-10-06 06:36] geekquad commented on #302
Hey @PritKalariya,
We are focusing more on the implementation of the technique and not on its application. Feel free to raise an issue if you have something in mind. Thank you.

[2021-10-06 06:36] #302 closed

[2021-10-06 06:37] geekquad commented on #386
Go ahead @aryasoni98.

[2021-10-10 07:27] Omgupta0312 opened #390 "OpenCV Project : Image(RGB format) to Black&white PencilSketch"
hello @geekquad
Sir I have a project which is based on computer vision. Basically this project is about conversion of a rgb format image to black and white pencilsketch.
If you don't mind can you please assign me this and allow me to add this project.
Thankyou

regards